.savesearch {
	width : 100%;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	-o-box-sizing : border-box;
	box-sizing : border-box;
}
.savesearch .title {
	font-size : 2.25em;
	font-weight : Bold;
	color : #464646;
	line-height : 1.2em;
	margin : 0 0.3333333333333333em 0.5em;
}
.savesearch .button.save {
	font-size : 2.25em;
	font-weight : bold;
	color : white;
	width : 100%;
	height : 2.2222222222222222em;
	border-radius : 0.3333333333333333em;
	text-shadow : 0 -0.0555555555555555em 0 rgba(0,0,0,0.4);
	background-image : -webkit-gradient(linear, center top, center bottom, from(#8CBB0E), to(#437904));
	background-image : -webkit-linear-gradient(top, #8CBB0E, #437904);
	background-image : -moz-linear-gradient(top, #8CBB0E, #437904);
	background-image : -o-linear-gradient(top, #8CBB0E, #437904);
	background-image : -ms-linear-gradient(top, #8CBB0E, #437904);
	background-image : linear-gradient(to bottom, #8CBB0E, #437904);
	-webkit-box-shadow : 0 0.0555555555555555em 0 rgba(0,0,0,0.2), inset 0 0 1.1111111111111111em 0.1666666666666666em rgba(0,0,0,0.4);
	-moz-box-shadow : 0 0.0555555555555555em 0 rgba(0,0,0,0.2), inset 0 0 1.1111111111111111em 0.1666666666666666em rgba(0,0,0,0.4);
	box-shadow: 0 0.0555555555555555em 0 rgba(0,0,0,0.2), inset 0 0 1.1111111111111111em 0.1666666666666666em rgba(0,0,0,0.4);
	border : 0.0833333333333333em solid #437904;
	float : left;
	text-align : center;
	line-height : 2.25em;
	cursor : pointer;
}
