<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="linkme.instrumentation.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="FileConfigurationProvider" type="LinkMe.Utility.Configuration.FileConfigurationProvider, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
    </providers>
  </configProtectedData>
  <linkme.instrumentation.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.instrumentation.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.instrumentation.container>
  <linkme.resources.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.resources.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.resources.container>
  <system.serviceModel>
    <!--
    <bindings>
      <basicHttpBinding>
        <binding name="JobSearchTest">
          <security mode="Transport" />
        </binding>
        <binding name="HrCareerTest">
        </binding>
      </basicHttpBinding>
    </bindings>
-->
    <bindings configProtectionProvider="FileConfigurationProvider">
      <EncryptedData>
        <file name="system.serviceModel.bindings.config" configFolder="true" />
      </EncryptedData>
    </bindings>
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LinkMe.Environment" publicKeyToken="3b0227c645ed34d6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>