<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.11, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
    <section name="timerModule" type="LinkMe.Web.Modules.TimerModuleConfigurationProvider, LinkMe.Web" />
    <section name="linkme.instrumentation.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.environment.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="FileConfigurationProvider" type="LinkMe.Utility.Configuration.FileConfigurationProvider, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
    </providers>
  </configProtectedData>
  <linkme.resources.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.resources.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.resources.container>
  <linkme.environment.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.environment.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.environment.container>
  <linkme.instrumentation.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.instrumentation.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.instrumentation.container>
  <timerModule>
    <urls>
      <add path="default.aspx" verb="GET" />
    </urls>
  </timerModule>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%d [%t] %-5p %c{1} - %m %n" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender, log4net">
      <file value="Z:/linkme/release/log/linkme-web.log" />
      <appendToFile value="true" />
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="50" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%d [%t] %-5p %c{1} - %m %n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="LinkMe">
      <level value="INFO" />
    </logger>
  </log4net>
  <appSettings>
    <add key="application.property.path" value="C:\LinkMe\config\" />
    <add key="RemoteObjectHttpPort" value="7001" />
    <add key="AuthenticationTimeoutMinutes" value="1440" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="5000" requestValidationMode="2.0" />
    <pages enableEventValidation="false" enableViewState="false" autoEventWireup="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="mvc" namespace="LinkMe.Apps.Asp.Mvc.Views" assembly="LinkMe.Apps.Asp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <sessionPageState historySize="10" />
    <httpModules>
      <add name="ReferralsModule" type="LinkMe.Web.Modules.ReferralsModule, LinkMe.Web" />
      <add name="NavigationModule" type="LinkMe.Apps.Asp.Modules.NavigationModule, LinkMe.Apps.Asp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
      <add name="VerticalsModule" type="LinkMe.Web.Modules.VerticalsModule, LinkMe.Web" />
      <add name="AuthenticationModule" type="LinkMe.Apps.Asp.Modules.AuthenticationModule, LinkMe.Apps.Asp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
    </httpModules>
    <machineKey validationKey="C1316A2671237C4566DF41DA45841A71C6274F853F74D11AA997FF491E918CDADA3A757CFB701E5A80C62C0E9B4775BC1830C167687A7071AF546B34750F873A" decryptionKey="C8D768DE1CCC3A5C488D922CD9A227DA243BB78B23944B36" validation="SHA1" />
    <httpHandlers>
      <!-- NOTE: remember to add any handler paths to the LinkMe.nav.xml omittedPath sections or you may get path not found for page id errors -->
      <add verb="GET" path="WebResource.axd" type="System.Web.Handlers.AssemblyResourceLoader" validate="True" />
      <add verb="POST,GET,HEAD" path="*/ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2, Version=7.7.31.1, Culture=neutral, PublicKeyToken=1cf5faf3f057d2ad" />
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <buildProviders>
        <remove extension=".lic" />
        <add extension=".lic" type="System.Web.Compilation.ForceCopyBuildProvider" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Optimization, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="LinkMe.Environment, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Framework.Content, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Framework.Communications, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Domain.Users, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Query, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Query.Search, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Apps.Presentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Apps.Asp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Apps.Pageflows, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="On" defaultRedirect="~/views/errors/error.html">
      <error statusCode="404" redirect="~/errors/notfound" />
    </customErrors>
    <!--HttpRequestValidationException-->
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Forms">
      <forms name="LinkMeAuth" loginUrl="~/login" timeout="1440" protection="All" path="/" requireSSL="false" slidingExpiration="false" />
    </authentication>
    <anonymousIdentification enabled="true" />
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" mostRecent="true" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <!-- taken from sessionState
                   sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="1440" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <profile inherits="LinkMe.Apps.Asp.Profiles.Profile, LinkMe.Apps.Asp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" automaticSaveEnabled="false" defaultProvider="UserProfileProvider">
      <providers>
        <add name="UserProfileProvider" type="LinkMe.Web.Context.UserProfileProvider, LinkMe.Web" />
      </providers>
    </profile>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en-AU" culture="en-AU" />
    <xhtmlConformance mode="Transitional" />
    <siteMap defaultProvider="NavigationSiteMapProvider">
      <providers>
        <add name="NavigationSiteMapProvider" type="LinkMe.Apps.Asp.Navigation.NavigationSiteMapProvider, LinkMe.Apps.Asp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" pagePrefix="LinkMe.Web" />
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <modules>
      <remove name="Detector" />
      <add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <client configProtectionProvider="FileConfigurationProvider">
      <EncryptedData>
        <file name="system.serviceModel.client.config" configFolder="true" />
      </EncryptedData>
    </client>
    <bindings configProtectionProvider="FileConfigurationProvider">
      <EncryptedData>
        <file name="system.serviceModel.bindings.config" configFolder="true" />
      </EncryptedData>
    </bindings>
    <diagnostics wmiProviderEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\LinkMe\log\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LinkMe.Environment" publicKeyToken="3b0227c645ed34d6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>