IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JobSearchResult_JobAd]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobSearchResult]'))
ALTER TABLE [dbo].[JobSearchResult] DROP CONSTRAINT [FK_JobSearchResult_JobAd]