<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <section name="linkme.tasks.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.instrumentation.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.environment.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="FileConfigurationProvider" type="LinkMe.Utility.Configuration.FileConfigurationProvider, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
    </providers>
  </configProtectedData>
  <linkme.tasks.container>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <typeAlias alias="string" type="System.String" />
      <typeAlias alias="ITask" type="LinkMe.Apps.Agents.Tasks.ITask, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
    </typeAliases>
    <containers>
      <container name="Daily">
        <types>
          <type name="UpdateJobAdsTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.UpdateJobAdsTask, LinkMe.TaskRunner" />
          <type name="ExpireInactiveActivationsTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.ExpireInactiveActivationsTask, LinkMe.TaskRunner" />
          <type name="EmailSuggestedCandidatesTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.EmailSuggestedCandidatesTask, LinkMe.TaskRunner" />
          <type name="ExpiringCreditsEmailTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.ExpiringCreditsEmailTask, LinkMe.TaskRunner" />
          <type name="EmailEmployerUsageTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.EmailEmployerUsageTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="EmailJobSearchAlerts">
        <types>
          <type name="EmailJobSearchAlertsTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.EmailJobSearchAlertsTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="EmailResumeSearchAlerts">
        <types>
          <type name="EmailResumeSearchAlertsTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.EmailResumeSearchAlertsTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="PushNotifyResumeSearchAlerts">
        <types>
          <type name="PushNotifyResumeSearchAlertsTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.PushNotifyResumeSearchAlertsTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="ParseJobAdSalaries">
        <types>
          <type name="ParseJobAdSalariesTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Maintenance.ParseJobAdSalariesTask, LinkMe.TaskRunner" />
        </types>
      </container>

      <container name="Weekly">
      </container>

      <container name="Monthly">
        <types>
          <type name="EmailCustomerReportsTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.EmailCustomerReportsTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="MemberNewsletter">
        <types>
          <type name="EmailMemberNewsletterTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.EmailMemberNewsletterTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="EmployerNewsletter">
        <types>
          <type name="EmailEmployerNewsletterTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.EmailEmployerNewsletterTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="Campaigns">
        <types>
          <type name="CampaignsTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.CampaignsTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="ReportingEmail">
        <types>
          <type name="ReportingEmailTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.ReportingEmailTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="Test">
        <types>
          <type name="TestExceptionTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.TestExceptionTask, LinkMe.TaskRunner" />
          <type name="TestTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.TestTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="VersionInfo">
        <types>
          <type name="VersionInfoTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.VersionInfoTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="SortConfigFile">
        <types>
          <type name="SortConfigFile" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.SortConfigFileTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="SearchEmailAlertJobs">
        <types>
          <type name="EmailJobSearchAlertsTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.EmailJobSearchAlertsTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="SearchEmailAlertResumes">
        <types>
          <type name="EmailResumeSearchAlertsTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.Communications.EmailResumeSearchAlertsTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="PreviewEmails">
        <types>
          <type name="PreviewEmailsTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.PreviewEmailsTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="PageUpJobAdsLoader">
        <types>
          <type name="PageUpJobAdsLoaderTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.PageUpJobAdsLoaderTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="CareerOneJobAdsPoller">
        <types>
          <type name="CareerOneJobAdsPollerTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.CareerOneJobAdsPollerTask, LinkMe.TaskRunner">
            <typeConfig>
              <property name="RemoteFileUrl" propertyType="string">
                <value value="ftp://dropzone.careerone.com.au/jobscareerone.xml.gz" />
              </property>
              <property name="RemoteUsername" propertyType="string">
                <value value="c1ftpaccess" />
              </property>
              <property name="RemotePassword" propertyType="string">
                <value value="PhZHMv63w" />
              </property>
            </typeConfig>
          </type>
        </types>
      </container>
      <container name="MyCareerJobAdsPoller">
        <types>
          <type name="MyCareerJobAdsPollerTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.MyCareer.JobAdsPollerTask, LinkMe.TaskRunner">
            <typeConfig>
              <property name="RemoteFileUrl" propertyType="string">
                <value value="http://mycareer.com.au/content/xml/Mycareer4LM.zip" />
              </property>
            </typeConfig>
          </type>
        </types>
      </container>
      <container name="CreateWorkflows">
        <types>
          <type name="CandidateStatusCreatorTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.CandidateStatusCreatorTask, LinkMe.TaskRunner" />
          <type name="SuggestedJobsCreatorTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.SuggestedJobsCreatorTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="ExternalJobRedirectCount">
        <types>
          <type name="ExternalJobRedirectCountTask" type="ITask" mapTo="LinkMe.TaskRunner.Tasks.ExternalJobRedirectCountTask, LinkMe.TaskRunner" />
        </types>
      </container>
      <container name="MonsterJobAdsPoller">
        <types>
          <type name="MonsterJobAdsPollerTask" type="ITask" mapTo="LinkMe.Apps.Services.External.Monster.JobAdsPollerTask, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <property name="RemoteBaseUrl" propertyType="string">
                <value value="ftp://ftp.monster.com/outbound" />
              </property>
              <property name="RemoteUsername" propertyType="string">
                <value value="CareerOneAlliance" />
              </property>
              <property name="RemotePassword" propertyType="string">
                <value value="MWhpa8T6" />
              </property>
              <property name="IgnoredCompanies" propertyType="System.String[]">
                <array>
                  <!--<value value="xc1b_michaelpagex" />
                  <value value="xc1b_drakeix" />
                  <value value="xc1b_ambitionx" />
                  <value value="xc1b_ipapx" />
                  <value value="xc1b_btaaustralix" />
                  <value value="xc1b_caltexx" />
                  <value value="xc1b_randstadx" />-->
                  <value value="xc1b_hughescastx" />
                  <value value="xc1b_careersmx" />
                  <!--<value value="xc1b_telstrax" />-->
                  <value value="xw149779962wx" />
                  <!--<value value="xc1man_uwsresx" />
                  <value value="xc1b_salmatx" />
                  <value value="xc1bgw_sladegrpx" />-->
                  <value value="xc1b_talent2x" />
                  <!--<value value="xc1man_liteneasyx" />
                  <value value="xc1bgw_smaartx" />
                  <value value="xc1b_kellyservicx" />
                  <value value="xc1b_kellyscirx" />
                  <value value="xc1b_kellyexecx" />-->
                  <value value="xc1bgw_transportx" />
                  <value value="xc1b_humantouchx" />
                  <!--<value value="xc1b_qbex" />
                  <value value="xc1bgw_vitagrpx" />
                  <value value="xc1b_3mobilex" />
                  <value value="xc1b_skillquestx" />-->
                  <value value="xc1bgw_skilledgrx" />
                  <!-- C1 newspaper ads -->
                  <value value="xc1nis_geelongx" />
                  <value value="xc1nis_advertiserx" />
                  <value value="xc1nis_australianx" />
                  <value value="xc1nis_bulletinx" />
                  <value value="xc1nis_cairnspostx" />
                  <value value="xc1nis_courierx" />
                  <value value="xc1nis_cumberlandx" />
                  <value value="xc1nis_heraldsunx" />
                  <value value="xc1nis_leaderx" />
                  <value value="xc1nis_mercuryx" />
                  <value value="xc1nis_messengerx" />
                  <value value="xc1nis_nthterrnewsx" />
                  <value value="xc1nis_questnewsx" />
                  <value value="xc1nis_stimesx" />
                  <value value="xc1nis_telegraphx" />
                  <value value="xc1nis_townsvillex" />
                  <value value="xc1nis_wtimesx" />
                  <!--<value value="xc1bgw_adeccox" /> -->
                  <!-- Adecco -->
                  <value value="xca1a_45a5b10c48d85x" />
                  <!-- Beilby Corporation -->
                  <value value="xc1bgw_prax" />
                  <!-- PRA/Profession Recruitment Australia -->
                  <value value="xc1b_raytheonx" />
                  <!-- Raytheon - concerned about branding -->
                  <value value="xw188517328wx" />
                  <!-- NRMA - CEO steamed about finding their ad on Glassdoor (with negative comments) and we got caught up in it -->
                </array>
              </property>
            </typeConfig>
          </type>
        </types>
      </container>
      <container name="JxtJobAdsPoller">
        <types>
          <type name="JxtJobAdsPollerTask" type="ITask" mapTo="LinkMe.Apps.Services.External.Jxt.JobAdsPollerTask, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <property name="RemoteBaseUrl" propertyType="string">
                <value value="http://www.jobsjobsjobs.com.au/jobxml/" />
              </property>
              <property name="IgnoredCompanies" propertyType="System.String[]">
                <array>
                  <value value="9243" />
                  <value value="9246" />
                  <value value="9247" />
                </array>
              </property>
            </typeConfig>
          </type>
        </types>
      </container>
      <container name="TelstraJobAdRssReader">
        <types>
          <type name="TelstraJobAdRssReaderTask" type="ITask" mapTo="LinkMe.Apps.Services.External.PageUp.JobFeedReaderTask, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <property name="RemoteUrl" propertyType="string">
                <value value="http://careersearch.telstra.com/jobsrss.ashx?stp=linkme" />
              </property>
              <property name="JobPosterLoginId" propertyType="string">
                <value value="telstra-jobs" />
              </property>
            </typeConfig>
          </type>
        </types>
      </container>
      <container name="SalmatJobAdRssReader">
        <types>
          <type name="SalmatJobAdRssReaderTask" type="ITask" mapTo="LinkMe.Apps.Services.External.PageUp.JobFeedReaderTask, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <property name="RemoteUrl" propertyType="string">
                <value value="http://careers.salmat.com.au/jobsRss.ashx?stp=linkme" />
              </property>
              <property name="JobPosterLoginId" propertyType="string">
                <value value="salmat-jobs" />
              </property>
            </typeConfig>
          </type>
        </types>
      </container>
      <container name="ColesJobAdRssReader">
        <types>
          <type name="ColesJobAdRssReaderTask" type="ITask" mapTo="LinkMe.Apps.Services.External.PageUp.JobFeedReaderTask, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <property name="RemoteUrl" propertyType="string">
                <value value="http://careersearch.colesgroup.com.au/jobsrss.ashx?stp=coles-jobs" />
              </property>
              <property name="JobPosterLoginId" propertyType="string">
                <value value="coles-jobs" />
              </property>
            </typeConfig>
          </type>
        </types>
      </container>
      <container name="iiNetJobAdRssReader">
        <types>
          <type name="iiNetJobAdRssReaderTask" type="ITask" mapTo="LinkMe.Apps.Services.External.PageUp.JobFeedReaderTask, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <property name="RemoteUrl" propertyType="string">
                <value value="http://careers.iinet.net.au/jobsrss.ashx?stp=LINKME" />
              </property>
              <property name="JobPosterLoginId" propertyType="string">
                <value value="iinet-jobs" />
              </property>
            </typeConfig>
          </type>
        </types>
      </container>
      <container name="HrCareersJobAdPoster">
        <types>
          <type type="LinkMe.Framework.Utility.Wcf.IChannelManager`1[[LinkMe.Apps.Services.External.HrCareers.ISyndicate, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" mapTo="LinkMe.Framework.Utility.Wcf.WcfHttpChannelManager`1[[LinkMe.Apps.Services.External.HrCareers.ISyndicate, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
            <typeConfig>
              <constructor>
                <param name="address" parameterType="string">
                  <value value="http://www.hrcareers.com.au/component/syndicate.cfc" />
                </param>
                <param name="bindingConfiguration" parameterType="string">
                  <value value="linkme.tasks.hrcareers.http" />
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type name="HrCareersJobAdPosterTask" type="ITask" mapTo="LinkMe.Apps.Services.External.HrCareers.JobAdPosterTask, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <property name="RemoteUsername" propertyType="string">
                <value value="linkme" />
              </property>
              <property name="RemotePassword" propertyType="string">
                <value value="xy4TWj86m" />
              </property>
              <property name="RemoteCompanyId" propertyType="System.Int32">
                <value value="348" type="System.Int32" />
              </property>
              <property name="VerticalId" propertyType="System.Guid">
                <value value="19a26db8-80fd-4b2f-a670-5202fb86799c" type="System.Guid" />
              </property>
              <property name="ExcludedIntegrators" propertyType="System.String[]">
                <array>
                  <value value="CareerOne-jobs" />
                  <value value="MyCareer-jobs" />
                </array>
              </property>
            </typeConfig>
          </type>
        </types>
      </container>
      <container name="JobSearchInitiator">
        <types>
          <type name="JobSearchInitiatorTask" type="ITask" mapTo="LinkMe.Apps.Services.External.JobSearch.InitiatorTask, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <property name="ExcludedIntegrators" propertyType="System.String[]">
                <array>
                  <value value="CareerOne-jobs" />
                  <value value="MyCareer-jobs" />
                </array>
              </property>
            </typeConfig>
          </type>
        </types>
      </container>
    </containers>
  </linkme.tasks.container>
  <linkme.resources.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.resources.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.resources.container>
  <linkme.instrumentation.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.instrumentation.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.instrumentation.container>
  <linkme.environment.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.environment.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.environment.container>
  <appSettings>
    <add key="application.property.path" value="c:\LinkMe\config\" />
    <add key="RemoteObjectHttpPort" value="7003" />
  </appSettings>
  <system.web>
    <siteMap defaultProvider="TaskRunnerSiteMapProvider">
      <providers>
        <add name="TaskRunnerSiteMapProvider" type="LinkMe.Apps.Asp.Navigation.AutoSiteMapProvider, LinkMe.Apps.Asp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" pagePrefix="LinkMe.Web" secureUrls="/ui/registered" />
      </providers>
    </siteMap>
  </system.web>
  <system.serviceModel>
    <bindings configProtectionProvider="FileConfigurationProvider">
      <EncryptedData>
        <file name="system.serviceModel.bindings.config" configFolder="true" />
      </EncryptedData>
    </bindings>
    <diagnostics wmiProviderEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\LinkMe\log\TaskRunner.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c{1} - %m %n" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:/linkme/log/linkme-taskrunner.log" />
      <appendToFile value="true" />
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c{1} - %m %n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="LinkMe">
      <level value="INFO" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LinkMe.Environment" publicKeyToken="3b0227c645ed34d6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>