<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="linkme.framework">
			<section name="host.service" type="LinkMe.Environment.CommandLines.SectionHandler, LinkMe.Environment, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"/>
		</sectionGroup>
	</configSections>
	<linkme.framework>
		<host.service>
			<options>
        <serviceName required="true" value="true">
          <description>The name of the service.</description>
          <valuenames>
            <valuename>service name</valuename>
          </valuenames>
        </serviceName>
        <rootFolder required="false" value="true">
          <description>The name of a root folder.</description>
          <valuenames>
            <valuename>root folder</valuename>
          </valuenames>
        </rootFolder>
        <configurationFile required="false" value="true">
          <description>The name of the configuration file.</description>
          <valuenames>
            <valuename>configuration file</valuename>
          </valuenames>
        </configurationFile>
      </options>
      <commands>
        <console class="LinkMe.Framework.Host.Service.Commands.ConsoleCommand">
          <description>Runs the configuration as a Win32 application.</description>
          <options>
            <serviceName/>
            <rootFolder/>
            <configurationFile/>
          </options>
        </console>
        <service class="LinkMe.Framework.Host.Service.Commands.ServiceCommand">
          <description>Runs the configuration as a Windows service.</description>
          <options>
            <serviceName/>
            <rootFolder/>
            <configurationFile/>
          </options>
        </service>
      </commands>
    </host.service>
	</linkme.framework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
