/* div#JobAd is the outer wrapper -- contains Job ad (i.e. #JobDescription)
   plus the subsequent controls and links */
#JobAd div {
	margin-bottom: 1em;
}   

/* Reset browser-variable properties for better control inside the job ad */
#JobDescription div, #JobDescription h1, #JobDescription p, #JobDescription table, #JobDescription th, #JobDescription td, #JobDescription ul, #JobDescription li, #JobDescription label, #JobDescription span {
	color: #696969;
	background: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/* div#JobDescription is where the job ad begins -- holds #Ad and #LogoFooter */
#JobAd div#JobDescription {
	border: 1px solid #9bccc8;
	margin-bottom: 1em;
	width: 458px;
}

/* Covers (amongst others) containers of actual text */
#JobAd #JobDescription div,
#JobAd #JobDescription #Ad p, 
#JobAd #JobDescription #Ad table,
#JobAd #JobDescription #Ad ul,
#JobAd #JobDescription #Ad center {
	margin: 0 1.0em 1em 2em;	
}

#JobAd #JobDescription div,
#JobAd #JobDescription #Ad center,
#JobAd #JobDescription #Ad p {
	margin-bottom: 0; /* fix to compensate for spacer divs in prod data */
}

/* Counter-act the above for outer/branding containers */
#JobAd #JobDescription #Ad,
#JobAd #JobDescription #Ad #brandingLogo,
#JobAd #JobDescription #Ad #JobAdHeading,
#JobAd #JobDescription #LogoFooter {
	margin: 0;
}

#JobAd #JobDescription #Ad #brandingLogo {
	background: url('abbertons_images/abbertons_banner.jpg') no-repeat left top;
	height: 100px;
}

/* #JobAdHeading holds the h1 heading PLUS the following p AND table of basic job facts,
   so can't narrow the div itself */
#JobAd #JobDescription #Ad #JobAdHeading h1 {
	font-size: 200%;
	margin: 1em;
    text-align: center;
}

/* strong inside p acts as sub-heading */
#JobAd #JobDescription #Ad p strong {
	display: block;
	margin-bottom: 1em;
	margin-top: 2em;
}

#JobAd #JobDescription #Ad table {
	width: 90% !important;
}

#JobAd #JobDescription #Ad label {
	vertical-align: top;
}

#JobAd #JobDescription #Ad ul li {
	list-style-type: disc;
	margin-left: 2em;	
}

/* Fix to compensate for excessive spacers in prod data */
#JobAd #JobDescription #Ad br {
	display: none;
}
#JobAd #JobDescription #Ad div br {
	display: block; /* counteract above for br in nested divs e.g. div#AdContactDetails */
}

#JobAd #JobDescription #Ad div#AdContactDetails {
	margin-bottom: 1em;
	margin-top: 1em;
}

/* Job Ad Footer logo */
#JobAd #JobDescription #LogoFooter {
	display: none;
}