/* div#JobAd is the outer wrapper. This applies to all nested DIVs including
   #JobDescription and the subsequent controls and links (unless overrideen) */
#JobAd {
	padding-bottom: 1em;
} 

/* div#JobDescription is where the job ad really begins
   - it contains #Ad and #LogoFooter */
#JobAd div#JobDescription {
	border: 2px solid #b2b2b2;
	border-bottom-style: ridge;
	border-right-style: ridge;
	margin: 0;
	padding: 5px;
	width: 458px;
} 

#JobDescription #Ad {
	background: transparent url(abt_images/abt_side.gif) no-repeat 380px bottom;
}

#JobDescription #Ad div,
#JobDescription #Ad p,
#JobDescription #Ad ul,
#JobDescription #Ad center {
	margin-right: 90px;
}

#JobDescription #Ad p {
	margin-bottom: 0; /* counteracts LinkMe text-links-headings.css */
}
#JobDescription #Ad br {
	display: none;
}
#JobDescription #Ad div br,
#JobDescription #Ad p br {
	display: block;
}

/* Reset areas where client cannot inject html */
/*#JobDescription #Ad #brandingLogo,*/
#JobDescription #Ad #JobAdHeading,
#JobDescription #Ad #JobAdHeading h1,
#JobDescription #Ad #JobAdHeading p, 
#JobDescription #Ad #JobAdHeading table,
#JobDescription #Ad #JobAdHeading th, 
#JobDescription #Ad #JobAdHeading td, 
#JobDescription #Ad #JobAdHeading ul, 
#JobDescription #Ad #JobAdHeading li, 
#JobDescription #Ad #JobAdHeading label,
#JobDescription #Ad #AdContactDetails,
#JobAd #JobDescription #LogoFooter {
	color: #000;
	background: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	padding: 0;
}

#JobAd #JobDescription #Ad #brandingLogo {
	display: none;
}

/* #JobAdHeading section */
div#JobAd div#JobDescription div#Ad div#JobAdHeading {
	text-align: left;	
}

#JobAd #JobDescription #Ad #JobAdHeading h1 {
	color: #A20232;
	font-size: 200%;
	font-weight: bolder;
	line-height: 1.3em;
	margin-bottom: 1em;
	margin-top: 50px;
}

#JobAd #JobDescription #Ad #JobAdHeading p strong {
	display: block; 
	font-weight: bold; /* acts as sub-heading in the #JobAdHeading section */
	margin-bottom: 1em;
	margin-left: 3px;
}

#JobAd #JobDescription #Ad #JobAdHeading table {
	margin-bottom: 1em;
	width: 80% !important;
}

#JobAd #JobDescription #Ad #JobAdHeading label {
	vertical-align: top;
}

#JobAd #JobDescription #Ad #JobAdHeading ul li {
	list-style-type: disc;
	margin-left: 2em;	
}

#JobAd #JobDescription #Ad center {
	margin-bottom: 1em;
}

/* AdContactDetails just before the #LogoFooter */
#JobAd #JobDescription #Ad #AdContactDetails {
	background: #fff; /* fix for IE bug where #Ad's bg image is partially hidden */
	font-size: smaller;
	margin-top: 2em;
	text-align: left;
}

/* Job Ad Footer logo */
#JobAd #JobDescription #LogoFooter {
	display: none;
}