/* div#JobAd is the outer wrapper -- contains Job ad (i.e. #JobDescription)
   plus the subsequent controls and links */
#JobAd div {
	margin-bottom: 1em;
}   

/* Reset browser-variable properties for better control inside the job ad */
#JobDescription div, #JobDescription h1, #JobDescription p, 
#JobDescription table, #JobDescription th, #JobDescription td, 
#JobDescription ul, #JobDescription li, 
#JobDescription label, #JobDescription span {
	color: #000;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/* div#JobDescription is where the job ad begins -- holds #Ad and #LogoFooter */
#JobAd div#JobDescription {
	background: #fff;
	margin-bottom: 1em;
	_margin-bottom: 0 0px;
	width: 460px;
}

/* Covers (amongst others) containers of actual text */
#JobAd #JobDescription div,
#JobAd #JobDescription #Ad p,
#JobAd #JobDescription #Ad center {
	margin: 0 32px;	
}

#JobAd #JobDescription #Ad table {
	margin: 1em 32px;	
	_margin: 0;
}

#JobAd #JobDescription #Ad ul {
	margin: 1em 32px;	
}

#JobAd #JobDescription div,
#JobAd #JobDescription #Ad p, 
#JobAd #JobDescription #Ad td,
#JobAd #JobDescription #Ad li {
	font-size: 103%;
}

#JobAd #JobDescription #Ad p {
	margin-top: 1em;
}

/* Counter-act the above for outer/branding containers */
#JobAd #JobDescription #Ad,
#JobAd #JobDescription #Ad #brandingLogo,
#JobAd #JobDescription #Ad #JobAdHeading,
#JobAd #JobDescription #LogoFooter {
	margin: 0;
}


/* blue border around the whole ad */
#JobAd #JobDescription #Ad {
	border: 7px solid  #007AF5;
}

#JobAd #JobDescription #Ad #brandingLogo {
	background: #007AF5 url('construction_careers_images/construction_careers_logo.jpg') no-repeat left top; 
	height: 53px;
	border-left: 1px solid #000; 
	border-top: 1px solid #000;
	border-right: 1px solid #FFFFFF;
	border-bottom: 2px solid #F50000;
}


/* #JobAdHeading holds the h1 heading PLUS the following p AND table of basic job facts */
div#JobAd div#JobDescription div#Ad div#JobAdHeading {
	background-color: #FFFFFF;
	_padding-left: 32px;
	_padding-right: 32px;
}


#JobAd #JobDescription #Ad #JobAdHeading h1 {
	background: #007AF5;
	color: #FFFFFF;
	font-size: 150%;
	font-weight: bold;
	padding: 0.5em; 
	text-align: center;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #000000;
	_margin-left: -32px;
	_margin-right: -32px;
}

/* strong inside p acts as sub-heading */
#JobAd #JobDescription #Ad p strong {
	display: block;
	_margin-left: 0px;
}

#JobAd #JobDescription #Ad table {
	width: 90% !important;
}

#JobAd #JobDescription #Ad label {
	vertical-align: top;
}

#JobAd #JobDescription #Ad ul li {
	list-style-type: disc;
	margin-left: 1em;
	_margin-left: -1em;
	font-weight: bold;
}


.screenNote {
	font-style: normal;
	color: #FFFFFF;
}

#JobAd #JobDescription #Ad #AdContactDetails {
	padding-left: 2.5em;
	padding-top: 2em;
	padding-bottom: 2em;
	background: #007AF5;
	margin-left: 0px;	
	margin-right: 0px;
	border-left: 1px solid #000; 
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
}


/* Job Ad Footer logo */
#JobAd #JobDescription #LogoFooter {
}