/* div#JobAd is the outer wrapper -- contains Job ad (i.e. #JobDescription)
   plus the subsequent controls and links */
#JobAd div {
	margin-bottom: 1em;
}   

/* Reset browser-variable properties for better control inside the job ad */
#JobDescription div, #JobDescription h1, #JobDescription p, 
#JobDescription table, #JobDescription th, #JobDescription td, 
#JobDescription ul, #JobDescription li, 
#JobDescription label, #JobDescription span {
	color: #0F2C61;
	background-color: transparent; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/* div#JobDescription is where the job ad begins -- holds #Ad and #LogoFooter */
#JobAd div#JobDescription {
/*	border-left: 20px solid #FF6600; */
	background: #fff url('ing_direct_images/ing_direct_bg.gif') repeat-y left top;
	width: 460px;
}

/* Covers (amongst others) containers of actual text */
#JobAd #JobDescription div,
#JobAd #JobDescription #Ad p,
#JobAd #JobDescription #Ad center {
	margin: 0 32px;	
}

#JobAd #JobDescription #Ad table,
#JobAd #JobDescription #Ad ul {
	margin: 1em 32px;	
}

#JobAd #JobDescription div,
#JobAd #JobDescription #Ad p, 
#JobAd #JobDescription #Ad td,
#JobAd #JobDescription #Ad li {
	font-size: 103%;
}

/* Counter-act the above for outer/branding containers */
#JobAd #JobDescription #Ad,
#JobAd #JobDescription #Ad #brandingLogo,
#JobAd #JobDescription #Ad #JobAdHeading,
#JobAd #JobDescription #LogoFooter {
	margin: 0;
/*	background: #fff url('ing_direct_images/ing_direct_bg.gif') repeat-y left top;  */
}

#JobAd #JobDescription #Ad #brandingLogo {
	background: url('ing_direct_images/ing_direct_top.gif') no-repeat left top;
	height: 88px;
}

/* #JobAdHeading holds the h1 heading PLUS the following p AND table of basic job facts */
div#JobAd div#JobDescription div#Ad div#JobAdHeading {
}

#JobAd #JobDescription #Ad #JobAdHeading h1 {
	background: #fff url('ing_direct_images/ing_direct_bg.gif') repeat-y left top;
	color: #FF6600;
	font-size: 200%;
	font-weight: bold;
/* margin-bottom: 1em;	 */
/*	margin-top: 1em; */
	padding: 0.5em;
	text-align: center;
}

/* strong inside p acts as sub-heading */
#JobAd #JobDescription #Ad p strong {
	display: block;
}

#JobAd #JobDescription #Ad table {
	width: 90% !important;
}

#JobAd #JobDescription #Ad label {
	vertical-align: top;
}

#JobAd #JobDescription #Ad ul li {
	list-style-position: inside;
	list-style-image: url('ing_direct_images/ing_direct_bullet.bmp');
	margin-left: 2em;
	margin-top: 0.5em;
	margin-bottom: 0px;
}

#JobAd #JobDescription #Ad #AdContactDetails {
/* padding-bottom: 1em; */
}

/* Job Ad Footer logo */
#JobAd #JobDescription #LogoFooter {
	background: url('ing_direct_images/ing_direct_base2.gif') no-repeat center center;
	height: 167px;
}