#JobAd #JobDescription
{
	border-style: solid;
	border-width:medium;
	border-color: #AFAFAF;
	margin-right: 220px;
	margin-bottom: 20px;
}

#JobAd #JobDescription #Ad
{
	background: #fff url('QBE_images/qbe_logo.gif') no-repeat 50% top;
	padding-top: 80px;
	padding-left: 20px;
	padding-bottom: 20px;
}

#JobAd #JobDescription h1
{
	color: #000;
	margin-top: 40px;
	height: 60px;
	vertical-align: top;
	text-align: center;
}

#JobAd #JobDescription #LogoFooter
{
	background: transparent url('QBE_images/qbe_bottom.jpg') bottom no-repeat;
	height: 70px;
	padding-bottom: 20px;
}