<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />

    <section name="linkme.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.framework.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.common.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.domain.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.domain.roles.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.this.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <configProtectedData>
    <providers>
      <add name="FileConfigurationProvider" type="LinkMe.Utility.Configuration.FileConfigurationProvider, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
    </providers>
  </configProtectedData>

  <MsmqTransportConfig
    InputQueue="linkme.jobexport.bus"
    ErrorQueue="linkme.error.bus"
    NumberOfWorkerThreads="1"
    MaxRetries="5"/>

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="LinkMe.Domain.Roles.Messages" Endpoint="linkme.domain.bus"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <linkme.container>
    <containers>
      <container>
        <extensionConfig>

          <add name="include" type="LinkMe.Framework.Utility.Unity.IncludeConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <section name="linkme.resources.container" />
            <section name="linkme.framework.container" />
            <section name="linkme.common.container" />
            <section name="linkme.domain.container" />
            <section name="linkme.domain.roles.container" />
            <section name="linkme.this.container" />
          </add>

        </extensionConfig>
      </container>
    </containers>
  </linkme.container>

  <linkme.this.container>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </typeAliases>

    <containers>

      <container>
        <types>

          <type type="LinkMe.Apps.Services.External.JobSearch.IJobAdExporter, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Apps.Services.External.JobSearch.JobAdExporter, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
            <typeConfig>
              <property name="ExcludedIntegrators" propertyType="System.String[]">
                <array>
                  <value value="CareerOne-jobs" />
                  <value value="MyCareer-jobs" />
                </array>
              </property>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Utility.Wcf.IChannelManager`1[[LinkMe.Apps.Services.External.JobSearch.IPublicVacancy, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Utility.Wcf.WcfHttpChannelManager`1[[LinkMe.Apps.Services.External.JobSearch.IPublicVacancy, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
            <typeConfig>
              <constructor>
                <param name="address" parameterType="System.String">
                  <value value="https://ecsn.gov.au/employment/publicvacancylodgement.asmx" />
                </param>
                <param name="bindingConfiguration" parameterType="System.String">
                  <value value="linkme.jobexport.jobsearch.http" />
                </param>
              </constructor>
            </typeConfig>
          </type>

        </types>
      </container>
    </containers>
  </linkme.this.container>

  <linkme.resources.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.resources.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.resources.container>

  <linkme.framework.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.framework.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.framework.container>

  <linkme.common.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.common.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.common.container>

  <linkme.domain.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.domain.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.domain.container>

  <linkme.domain.roles.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.domain.roles.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.domain.roles.container>

  <system.serviceModel>
    <bindings configProtectionProvider="FileConfigurationProvider">
      <EncryptedData>
        <file name="system.serviceModel.bindings.config" configFolder="true" />
      </EncryptedData>
    </bindings>

    <diagnostics wmiProviderEnabled="true" />
  </system.serviceModel>

  <system.diagnostics>

    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="C:\LinkMe\log\JobExport.svclog" />
    </sharedListeners>

  </system.diagnostics>

</configuration>