<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <section name="linkme.instrumentation.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.environment.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="FileConfigurationProvider" type="LinkMe.Utility.Configuration.FileConfigurationProvider, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
    </providers>
  </configProtectedData>
  <appSettings>
    <add key="application.property.path" value="c:\linkme\config\" />
    <add key="RemoteObjectHttpPort" value="7002" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Framework.Communications, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Apps.Presentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="LinkMe.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages enableEventValidation="false" enableViewState="false" autoEventWireup="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="LinkMeManagementAuth" loginUrl="~/LogIn.aspx" timeout="60" protection="All" path="/" requireSSL="false" slidingExpiration="false" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <customErrors mode="RemoteOnly" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <siteMap defaultProvider="NavigationSiteMapProvider">
      <providers>
        <add name="NavigationSiteMapProvider" type="LinkMe.Apps.Asp.Navigation.NavigationSiteMapProvider, LinkMe.Apps.Asp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" pagePrefix="LinkMe.Apps.Management" />
      </providers>
    </siteMap>
    <webParts>
      <personalization>
        <authorization>
          <allow users="*" verbs="enterSharedScope" />
          <allow users="*" verbs="modifyState" />
        </authorization>
      </personalization>
    </webParts>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LinkMe.Environment" publicKeyToken="3b0227c645ed34d6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c{1} - %m %n" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:/linkme/log/linkme-management.log" />
      <appendToFile value="true" />
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c{1} - %m %n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="LinkMe">
      <level value="INFO" />
    </logger>
  </log4net>
  <linkme.resources.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.resources.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.resources.container>
  <linkme.environment.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.environment.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.environment.container>
  <linkme.instrumentation.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.instrumentation.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.instrumentation.container>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <extensions>
      <behaviorExtensions>
        <add name="unity" type="LinkMe.Framework.Utility.Unity.ServiceModel.UnityBehaviorExtensionElement, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="linkme.management.bouncedEmail">
          <unity />
        </behavior>
        <behavior name="linkme.management.emailStatus">
          <unity />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="LinkMe.Apps.Management.EmailStatus.EmailStatusService" behaviorConfiguration="linkme.management.emailStatus" />
    </services>
    <client configProtectionProvider="FileConfigurationProvider">
      <EncryptedData>
        <file name="system.serviceModel.client.config" configFolder="true" />
      </EncryptedData>
    </client>
    <bindings configProtectionProvider="FileConfigurationProvider">
      <EncryptedData>
        <file name="system.serviceModel.bindings.config" configFolder="true" />
      </EncryptedData>
    </bindings>
    <diagnostics wmiProviderEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\LinkMe\log\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>