<configuration>
  <linkme.framework>
    <performanceCounters xmlns="http://xmlns.linkme.com.au/Framework">
      <categories>
        <category name="LinkMe Performance Scenarios" type="MultiInstance">
          <counters>
            <counter name="Total Users" help="The total number of users configured for this scenario" type="NumberOfItems32" />
            <counter name="Current Users" help="The total number of users currently running this scenario" type="NumberOfItems32" />
            <counter name="Total Calls" help="Cummulative total of the number of times that steps in the scnearion have been executed" type="NumberOfItems32" />
            <counter name="Total Errors" help="Cummulative total of the number of times that steps in the scenario have not been executed successfully" type="NumberOfItems32" />
            <counter name="Calls Per Second" help="The number of times all steps in the scenario are being executed per second" type="RateOfCountsPerSecond32" />
          </counters>
        </category>
        <category name="LinkMe Performance Profiles" type="MultiInstance">
          <counters>
            <counter name="Enabled" help="Indicates whether the profile is currently enabled" type="NumberOfItems32" />
            <counter name="Currently Running" help="The total number of users currently running this profile" type="NumberOfItems32" />
            <counter name="Total Runs" help="Cummulative total of the number of times the profile has been executed" type="NumberOfItems32" />
            <counter name="Total Errors" help="Cummulative total of the number of times that the profile has not been executed successfully" type="NumberOfItems32" />
            <counter name="Average Execution Time" help="Average time that the profile takes to execute (ms)" type="AverageTimer32" />
            <counter name="Average Execution Time Base" help="Average time that the profile takes to execute (ms)" type="AverageBase" />
            <counter name="Last Execution Time" help="The last time that the profile took to execute (ms)" type="NumberOfItems32" />
          </counters>
        </category>
        <category name="LinkMe Performance Steps" type="MultiInstance">
          <counters>
            <counter name="Enabled" help="Indicates whether the step is currently enabled" type="NumberOfItems32" />
            <counter name="Currently Executing" help="The total number of users currently executing this step" type="NumberOfItems32" />
            <counter name="Total Calls" help="Cummulative total of the number of times the step has been executed" type="NumberOfItems32" />
            <counter name="Total Errors" help="Cummulative total of the number of times that the step has not been executed successfully" type="NumberOfItems32" />
            <counter name="Calls Per Second" help="The number of times the step is being executed per second" type="RateOfCountsPerSecond32" />
            <counter name="Average Execution Time" help="Average time that the step takes to execute (ms)" type="AverageTimer32" />
            <counter name="Average Execution Time Base" help="Average time that the step takes to execute (ms)" type="AverageBase" />
            <counter name="Last Execution Time" help="The last time that the step took to execute (ms)" type="NumberOfItems32" />
          </counters>
        </category>
      </categories>
    </performanceCounters>
  </linkme.framework>
</configuration>