<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinkMe.Framework.Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <LinkMe.Framework.Reports.Properties.Settings>
            <setting name="LinkMe_Framework_Reports_ReportExecution2005_ReportExecutionService"
                serializeAs="String">
                <value>http://localhost/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="LinkMe_Framework_Reports_ReportService2005_ReportingService2005"
                serializeAs="String">
                <value>http://localhost/ReportServer/ReportService2005.asmx</value>
            </setting>
        </LinkMe.Framework.Reports.Properties.Settings>
    </applicationSettings>
</configuration>