body
{
	margin: 0;
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
}

/* header */
#header 
{
	width: 100%;
	background: #fff;
}

#header-inner
{
	margin-left:auto;
	margin-right:auto;
	padding: 5px 0;
	width: 800px;
	height: 78px;
	font-size:80%;
}

#logo
{
	width: 250px;
	padding-right: 0px;
	float:left;
}


#nav
{
	float: left;
	width: 100%;
	background: #4d6673 url("../img/MainNavBg.gif") repeat-x top left;
	border-top: solid 1px #fff;
}

#nav-sub
{
	float: left;
	width: 100%;
	background: #E8E8E8;
	border-bottom: solid 1px #aaa;
	padding: 4px 0;
	height: 16px;
}

#nav div, #nav-sub div
{
	margin: 0;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	width: 800px;
}

#nav ul, #nav-sub ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li
{
	float: left;
	margin: 1px 5px 0 5px;
	padding: 0 0;
}

#nav li.selected
{
	background: #E8E8E8 url("../img/NavCornerL.gif") no-repeat top left;
}

#nav-sub li
{
	float: left;
	margin: 0;
	padding: 0;
}

#nav a 
{
	font-size: 100%;
	display: block;
	float: left;
	margin: 0px;
	padding: 4px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#nav a.selected
{
	color: #4d6673;
	background: url("../img/NavCornerR.gif") no-repeat top right;
}

#nav-sub a
{
	border-right: solid 1px #aaa; 
	font-size: 100%;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px 9px;
	color: #004A6F;
	text-decoration: none;
}

#nav-sub #last
{
	border-right: none;
}

/* body */

#main
{
	margin-left:auto;
	margin-right:auto;
	width: 802px;
	text-align:left;
}

#breadCrumb
{
	text-align: left;
	width: 100%;
	font-size: 80%;
	margin: 5px 0 0 8px;
}

#content
{
	width: 565px;
	margin: 5px 13px;
	float:left;
	/*overflow-x: hidden;
	text-overflow: ellipsis;*/
}

.sideNote {
width: 175px; 
float: right; 
color: #000; 
text-align:left; 
margin-right: 13px;
margin-top:15px;
}

.sideNote ul {
padding-left:0px;
margin-left:0px;
}

.sideNote li {
margin-left:14px;
list-style:circle;
margin-bottom:8px;
}


/* footer */
#footer
{
	margin-left:auto;
	margin-right:auto;
	width: 800px;
	text-align: center;
	border-top: solid 1px #b3bc90;
	font-size: 85%;
}

#footer a
{
	margin: 2px 5px;
}

/* 
debug: border: solid 1px #f00; 
*/

.login
{
	width:230px;
	font-size: 0.95em;
	padding-left:10px;
}

.join
{
	width:230px;
	font-size: 120%;
}

#warningMsg 
{
	color: #000; text-align:left; background: url("../img/warningTop.gif") no-repeat top left; width: 540px; margin: 10px; 
}

#warningMsg div
{
	margin: 0; background: url("../img/warningBottom.gif") no-repeat bottom left;
}

#warningMsg div div
{
	padding:20px 15px; padding-left: 50px; background: url("../img/warning.gif") no-repeat 10px 10px; 	
}

#warningMsg h1, #warningMsg h2, #warningMsg h3, #warningMsg h4, #warningMsg h5, #warningMsg h6 {
	font-size:130%;
	color:#C73008;
	margin: 0 0 0 0;
	padding: 0px;	
}
#warningMsg p {
	margin:0 0 1em 0;
}
#warningMsg strong, #warningMsg b {
	color:#C73008;
}
