<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinkMe.Reports.DailyReports.Properties.Settings.LinkMeConnectionString" connectionString="Data Source=(LOCAL);Initial Catalog=LinkMe;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="LinkMe.Query.Reports.Properties.Settings.LinkMeConnectionString" connectionString="Data Source=(LOCAL);Initial Catalog=LinkMe;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="LinkMe.Query.Reports.Properties.Settings.InstrumentationConnectionString" connectionString="Data Source=barney;Initial Catalog=Instrumentation;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
