<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="linkme.instrumentation.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <configProtectedData>
    <providers>
      <add name="FileConfigurationProvider" type="LinkMe.Utility.Configuration.FileConfigurationProvider, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"/>
    </providers>
  </configProtectedData>

  <linkme.instrumentation.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.instrumentation.container.config" configFolder="true"/>
    </EncryptedData>
  </linkme.instrumentation.container>

  <linkme.resources.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.resources.container.config" configFolder="true"/>
    </EncryptedData>
  </linkme.resources.container>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
