<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
    <head>
        <title>Server error</title>
 
        <link href="../../content/css/universal-layout.css" rel="stylesheet" />
        <link href="../../content/css/fonts/fonts.css" rel="stylesheet" />
        <link href="../../content/css/header-and-nav.css" rel="stylesheet" />
        <link href="../../content/css/text-links-headings.css" rel="stylesheet" />
        <link href="../../content/css/widgets-and-lists.css" rel="stylesheet" />
        <link href="../../content/css/sidebar-absent.css" rel="stylesheet" />
        <link href="../../content/css/forms.css" rel="stylesheet" />
        <link href="../../content/css/forms2.css" rel="stylesheet" />
 
    </head>
    <body>
        <div id="container">
        
            <div id="header">
                <div id="header-links-container">
                    <script type="text/javascript">
                        function loadPage(url) {
                            window.location = url;
                        }
                    </script>
                    <div id="header-links">
                        <div class="left-section">
                            <div id="logo" onclick="javascript:loadPage('/');"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="body-container">
            
                <div id="left-sidebar">
                </div>
                
                <div id="main-body">
                    <div id="form-container">

                        <div class="page-title">
                            <h1>Server error</h1>
                        </div>
                        <div class="section-content">
                            <strong>An error has occurred in the LinkMe website. We apologise for the inconvenience.</strong>
                            <p>The error has been logged and will be investigated.</p>
                            <p>
                                Click the Back button to go to the previous page or return to the
                                <a href="/">home page</a>.
                            </p>
                            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        </div>
                        
                    </div>
                </div>
                <div class="clearer"></div>
            </div>
        </div>

    </body>
</html>
