<?xml version="1.0"?>
<ArrayOfProperty xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Property>
    <Name>website.linkme.host</Name>
    <Value>localhost</Value>
  </Property>
  <Property>
    <Name>allow.saving.admin.password</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>allowed.outbound.email.domains</Name>
    <Value>linkme.net.au</Value>
  </Property>
  <Property>
    <Name>enable.developer.shortcuts</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>google.analytics.uacct</Name>
    <Value>(NONE)</Value>
  </Property>
  <Property>
    <Name>google.maps.api.key</Name>
    <Value>
      build01: ABQIAAAAgFYCkKm9My2FRmtor7XR-xSl29ljYJx9Pzp7N7H7uSHLbVwPzhR4daF1zORd5-mDyRivgOX1tN3-Xg;
      build02: ABQIAAAAgFYCkKm9My2FRmtor7XR-xSBG3vlO8wvmEzzJd7eEkkwoF8U4xS3uItqFax5564i-ISXpQ_9rT5kxQ;
    </Value>
  </Property>
  <Property>
    <Name>hibernate.use.reflection.optimiser</Name>
    <Value>false</Value>
  </Property>
  <Property>
    <Name>lens.active.connections</Name>
    <Value>false</Value>
  </Property>
  <Property>
    <Name>linkme.config.folder</Name>
    <Value>Apps\Config\</Value>
  </Property>
  <Property>
    <Name>log4Net.config.file</Name>
    <Value>\Apps\Core\res\test\log4net.config</Value>
  </Property>
  <Property>
    <Name>remote.application.context</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>remote.application.context.host</Name>
    <Value>localhost</Value>
  </Property>
  <Property>
    <Name>remote.application.context.port</Name>
    <Value>7777</Value>
  </Property>
  <Property>
    <Name>remote.application.context.url</Name>
    <Value>ApplicationContextRemoteObject.soap</Value>
  </Property>
  <Property>
    <Name>remote.mocksmtpserver</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>remote.mocksmtpserver.host</Name>
    <Value>localhost</Value>
  </Property>
  <Property>
    <Name>remote.resettablecaches</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>remote.resettablecaches.host</Name>
    <Value>localhost</Value>
  </Property>
  <Property>
    <Name>remote.resettablecaches.url</Name>
    <Value>ResettableCacheRemoteObject.soap</Value>
  </Property>
  <Property>
    <Name>show.authentication.info</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>show.total.search.results</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>ssl.redirect-logins</Name>
    <Value>false</Value>
  </Property>
  <Property>
    <Name>stub.lens.resume.file</Name>
    <Value>Test\Data\Resumes\Resume.xml</Value>
  </Property>
  <Property>
    <Name>system.smtp.server</Name>
    <Value>mail.linkme.com.au</Value>
  </Property>
  <Property>
    <Name>trackers.enabled</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>validate.web.service.request.xml</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>verisign.host.address</Name>
    <Value>payflow-test.verisign.com.au</Value>
  </Property>
  <Property>
    <Name>verisign.host.port</Name>
    <Value>443</Value>
  </Property>
  <Property>
    <Name>verisign.merchant.account.partner</Name>
    <Value>VSA</Value>
  </Property>
  <Property>
    <Name>verisign.merchant.account.password</Name>
    <Value>Object!</Value>
  </Property>
  <Property>
    <Name>verisign.merchant.account.username</Name>
    <Value>linkme</Value>
  </Property>
  <Property>
    <Name>verisign.merchant.account.vendor</Name>
    <Value>linkme</Value>
  </Property>
  <Property>
    <Name>minscore.suggestedjob</Name>
    <Value>1.8</Value>
  </Property>
  <Property>
    <Name>minscore.similarjob</Name>
    <Value>0.0</Value>
  </Property>
</ArrayOfProperty>
