<?xml version="1.0"?>
<ArrayOfProperty xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Property>
    <Name>website.linkme.host</Name>
    <Value>www.linkme.com.au</Value>
  </Property>
  <Property>
    <Name>website.management.port</Name>
    <Value>81</Value>
  </Property>
  <Property>
    <Name>allow.saving.admin.password</Name>
    <Value>false</Value>
  </Property>
  <Property>
    <Name>enable.developer.shortcuts</Name>
    <Value>false</Value>
  </Property>
  <Property>
    <Name>google.analytics.uacct</Name>
    <Value>UA-286262-1</Value>
  </Property>
  <Property>
    <Name>google.maps.api.key</Name>
    <Value>
      www.linkme.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xR085keflRLW0MXy3orNTQTjNEt2RS0KL4JHBfbLRdgZc8fxrd2dXwKrA;
      app1: ABQIAAAAgFYCkKm9My2FRmtor7XR-xSgzAuKiUjDgUcAgb4lFCoi9R4FLRRUHtqD_QiI8TKWd_Cs5PJmELjYIQ;
      app1.linkme.net.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xTHW6LGVlgQ0iyRaRq-E4MVlPMI_BStp32ESe-RVbwMlUfbWw4GyS0sUQ;
      app2: ABQIAAAAgFYCkKm9My2FRmtor7XR-xTjvz4-hHBL4P7r8QJBMv6Ld0vNBBQkWA682zt155svbAcAcrgbw8FEmw;
      app2.linkme.net.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xS4IsPJozFpwsw4NTEJG0jdrZtbyxT-pzctw5p9SLWbtEMNPE6yitwlbA;
      myprofile.itwire.com: ABQIAAAA6y7VnX345TgaHFpFa1qvPhSohMxG9gPnCjNGfGtrozRAx9FcghSOSVcPDDfAf_IvfmBqsUYd1RnQ3Q;
      linkme.co.nz: ABQIAAAA6y7VnX345TgaHFpFa1qvPhRU-mKUHIFwc1BqWvTRRWkUfsY7cBQ_1si6CYWP0INdg10b7dLt35gKtg;
      www.linkme.co.nz: ABQIAAAAgFYCkKm9My2FRmtor7XR-xTXDzEY-3szRsDyJI0TF3YkPKtPPxSBWiGafzzNCXcU2YPeWkgC50tmsQ;
      jobs.businessspectator.com.au: ABQIAAAA6y7VnX345TgaHFpFa1qvPhTPxlJ0IxPUqXgwCvKJYdr5tOzYFRTV_sCdbNlZ1OyuDXtm_51MzMQVHg;
      www.jobs.businessspectator.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xRjNyKGwigip3RYmBMUTkvR61b_LxREntfjUYI1mDuQLRzNOUtbGazjJA;
      golfjobs.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xRV3OZloeLPwmmj5Fpu_raQbl66eRQMt0sjlcjKd7sMmLWFAoukZhJcJg;
      www.golfjobs.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xRrdUXNYhRqcB7Cm2II07rLMbrxhxRylQwqVQNX6RWY_X3pyyRiSmkN-w;
      crossroadshr.linkme.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xQtY1XNmqVO_G19Zj4irA3xQBVcpBRpF1mQ1UQbqp8HGp5G5FNzXCJa3w;
      www.crossroadshr.linkme.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xQqiSKkIEqwKWKCU8OhBX_DAacY2BQO9ynBWF5hQSvjBL-RS4EHDnN5sA;
      liacareers.linkme.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xTfKyjy01o6CJ_rFdKcNKdgEEOyRxTeYkCrUt0EWbkpkxHOB7B1D9Wg6w;
      astutecareers.linkme.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xSJ0Cpz-GwY9N1FnK5frtIP1Zr-ohQLihDEMFS-UoA287kS78m-rEziWA;
      www.astutecareers.linkme.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xQw6BZujEVpIw_QLxbRAXKBpxy72xTtFbkQP0xEQo6yjzdvZRzy6_CtKg;
      ahricareers.linkme.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xQiO-YUzIfF7MDTMsCaY2PPUzw-uhRmKkehukO1pMY-5mO0eOMigLFX2Q;
      www.ahricareers.linkme.com.au: ABQIAAAAgFYCkKm9My2FRmtor7XR-xQc_H2XTLTQVCyP9Itl-PH9kWfKQRQWgImLgpXS9gfF6c1Zhud0kUo5SA;
    </Value>
  </Property>
  <Property>
    <Name>hibernate.use.reflection.optimiser</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>lens.active.connections</Name>
    <Value>false</Value>
  </Property>
  <Property>
    <Name>linkme.config.folder</Name>
    <Value>C:\LinkMe\Config\</Value>
  </Property>
  <Property>
    <Name>remote.application.context</Name>
    <Value>false</Value>
  </Property>
  <Property>
    <Name>show.authentication.info</Name>
    <Value>false</Value>
  </Property>
  <Property>
    <Name>show.total.search.results</Name>
    <Value>false</Value>
  </Property>
  <Property>
    <Name>ssl.redirect-logins</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>system.smtp.server</Name>
    <Value>mail.linkme.com.au</Value>
  </Property>
  <Property>
    <Name>trackers.enabled</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>validate.web.service.request.xml</Name>
    <Value>false</Value>
  </Property>
  <Property>
    <Name>verisign.host.address</Name>
    <Value>payflow.verisign.com.au</Value>
  </Property>
  <Property>
    <Name>verisign.host.port</Name>
    <Value>443</Value>
  </Property>
  <Property>
    <Name>verisign.merchant.account.partner</Name>
    <Value>VSA</Value>
  </Property>
  <Property>
    <Name>verisign.merchant.account.password</Name>
    <Value>(Don't store this password in SVN - override in machine-specific config file in prod.)</Value>
  </Property>
  <Property>
    <Name>verisign.merchant.account.username</Name>
    <Value>vlkmp01</Value>
  </Property>
  <Property>
    <Name>verisign.merchant.account.vendor</Name>
    <Value>linkme05</Value>
  </Property>
  <Property>
    <Name>minscore.suggestedjob</Name>
    <Value>1.8</Value>
  </Property>
  <Property>
    <Name>minscore.similarjob</Name>
    <Value>0.0</Value>
  </Property>
</ArrayOfProperty>