<?xml version="1.0"?>
<ArrayOfProperty xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Property>
    <Name>application.cache.timeouts.recentresumesearchesupdate</Name>
    <Value>3600</Value>
  </Property>
  <Property>
    <Name>application.cache.timeouts.totalnetworkersupdate</Name>
    <Value>1800</Value>
  </Property>
  <Property>
    <Name>careerone.max.new.jobads</Name>
    <Value>100</Value>
  </Property>
  <Property>
    <Name>donation.amount</Name>
    <Value>1</Value>
  </Property>
  <Property>
    <Name>email.activation.expiry.days</Name>
    <Value>60</Value>
  </Property>
  <Property>
    <Name>enforce.double.check.cookie.ip</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>equivalent.terms.enabled</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>equivalent.terms.weight</Name>
    <Value>0.5</Value>
  </Property>
  <Property>
    <Name>friends.per.page</Name>
    <Value>10</Value>
  </Property>
  <Property>
    <Name>google.maps.api.key.localhost</Name>
    <Value>ABQIAAAAgFYCkKm9My2FRmtor7XR-xT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQsM7Sb_tHQChILl_7BHdUUC7Ql0g</Value>
  </Property>
  <Property>
    <Name>ignored.job.titles</Name>
    <Value>leader,supervisor,manager,mgr,assistant,asst,consultant</Value>
  </Property>
  <Property>
    <Name>job.ads.per.page</Name>
    <Value>25</Value>
  </Property>
  <Property>
    <Name>job.applications.per.page</Name>
    <Value>25</Value>
  </Property>
  <Property>
    <Name>jobadfeed.service.cachetimeout.hours</Name>
    <Value>1</Value>
  </Property>
  <Property>
    <Name>lens.failover.messages</Name>
    <Value>resume server not found;unknown error;docserver not found</Value>
  </Property>
  <Property>
    <Name>lens.watcher.ping.interval</Name>
    <Value>60000</Value>
  </Property>
  <Property>
    <Name>lens.ping.vendor</Name>
    <Value>JobsRUs</Value>
  </Property>
  <Property>
    <Name>lens.ping.id</Name>
    <Value>0389f7b19e1a4ba380ef73794faf70f0</Value>
  </Property>
  <Property>
    <Name>lens.ping.matchtext</Name>
    <Value>Cons</Value>
  </Property>
  <Property>
    <Name>more.like.this.requires.job.title</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>previous.job.searches.display.count</Name>
    <Value>10</Value>
  </Property>
  <Property>
    <Name>search.results.fresh.days</Name>
    <Value>28</Value>
  </Property>
  <Property>
    <Name>search.results.per.page</Name>
    <Value>10</Value>
  </Property>
  <Property>
    <Name>search.spell.suggestions.enabled</Name>
    <Value>true</Value>
  </Property>
  <Property>
    <Name>static.entity.file</Name>
    <Value>linkme.static.lookup.xml</Value>
  </Property>
  <Property>
    <Name>swear.words.list</Name>
    <Value>fuck,cunt,shit</Value>
  </Property>
  <Property>
    <Name>verisign.timeout</Name>
    <Value>30</Value>
  </Property>
  <Property>
    <Name>networker.max.autosuggested.what.im.doings</Name>
    <Value>10</Value>
  </Property>
  <Property>
    <Name>searchme.server</Name>
    <Value></Value>
  </Property>
  <Property>
    <Name>credits.applicant.lowthreshold</Name>
    <Value>10</Value>
  </Property>
</ArrayOfProperty>