<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, 
				 log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
	
	<log4net>
		<appender name="Console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c{1} - %m %n" />
			</layout>
		</appender>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="linkme.log" />
			<appendToFile value="true" />
			<maximumFileSize value="100KB" />
			<maxSizeRollBackups value="2" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c{1} - %m %n" />
			</layout>
		</appender>
		<root>
			<level value="ERROR" />
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</root>
		<logger name="LinkMe">
			<level value="ERROR" />
		</logger>
		<logger name="NHibernate">
			<level value="ERROR" />
		</logger>
	</log4net>
</configuration>
