<configuration>
  <modules xmlns="http://xmlns.linkme.com.au/Framework/Instrumentation/EventViewer">
    <eventViewer>
      <editors>
        <editor valueType="System.String, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">LinkMe.Framework.Tools.Editors.BasicTypeEditor, LinkMe.Framework.Tools, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6</editor>
        <editor valueType="System.Guid, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">LinkMe.Framework.Tools.Editors.GuidEditor, LinkMe.Framework.Tools, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6</editor>
        <editor valueType="System.Exception, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">LinkMe.Framework.Tools.Editors.ExceptionEditor, LinkMe.Framework.Tools, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6</editor>
        <editor valueType="LinkMe.Framework.Utility.Exceptions.ExceptionInfo, LinkMe.Framework.Utility, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">LinkMe.Framework.Tools.Editors.ExceptionEditor, LinkMe.Framework.Tools, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6</editor>
        <editor valueType="LinkMe.Framework.Type.Date, LinkMe.Framework.Type, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">LinkMe.Framework.Type.Tools.Editors.DateTimeSpanPicker, LinkMe.Framework.Type.Tools, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6</editor>
        <editor valueType="LinkMe.Framework.Type.TimeSpan, LinkMe.Framework.Type, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">LinkMe.Framework.Type.Tools.Editors.DateTimeSpanPicker, LinkMe.Framework.Type.Tools, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6</editor>
        <editor valueType="LinkMe.Framework.Type.DateTime, LinkMe.Framework.Type, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">LinkMe.Framework.Type.Tools.Editors.DateTimeSpanPicker, LinkMe.Framework.Type.Tools, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6</editor>
        <editor valueType="LinkMe.Framework.Type.TimeOfDay, LinkMe.Framework.Type, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">LinkMe.Framework.Type.Tools.Editors.DateTimeSpanPicker, LinkMe.Framework.Type.Tools, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6</editor>
        <editor valueType="System.Data.DataSet, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">LinkMe.Framework.Tools.Editors.DataSetEditor, LinkMe.Framework.Tools, Version={LinkMeVersion}, Culture=neutral, PublicKeyToken=3b0227c645ed34d6</editor>
      </editors>
    </eventViewer>
  </modules>
</configuration>