<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="linkme.instrumentation.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.host.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.environment.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <configProtectedData>
    <providers>
      <add name="FileConfigurationProvider" type="LinkMe.Utility.Configuration.FileConfigurationProvider, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
    </providers>
  </configProtectedData>

  <runtime>
    <gcServer enabled="true" />
  </runtime>

  <appSettings>
    <add key="application.property.path" value="c:\LinkMe\config\"/>
  </appSettings>

  <linkme.host.container>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </typeAliases>
    
    <containers>
      <container>
        <extensionConfig>

          <add name="registerTypes" type="LinkMe.Framework.Utility.Unity.RegisterTypesConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <types>
              <type type="LinkMe.Domain.Unity.DomainConfigurator, LinkMe.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Domain.Roles.Unity.RolesConfigurator, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Domain.Users.Unity.UsersConfigurator, LinkMe.Domain.Users, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Analyse.Unity.AnalyseConfigurator, LinkMe.Analyse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Analyse.Engine.Unity.AnalysisEngineConfigurator, LinkMe.Analyse.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Apps.Agents.Unity.AgentsConfigurator, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
            </types>
          </add>

          <add name="include" type="LinkMe.Framework.Utility.Unity.IncludeConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <section name="linkme.resources.container" />
            <section name="linkme.environment.container" />
          </add>

        </extensionConfig>

        <types>

          <!-- SentimentAnalysis -->
          <type type="LinkMe.Framework.Host.IChannelSource, LinkMe.Framework.Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Host.Wcf.WcfTcpSource, LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="serviceDefinitions" parameterType="LinkMe.Framework.Host.Wcf.ServiceDefinition[], LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <array>
                    <dependency name="linkme.analyse.jobads.serviceDefinition" />
                  </array>
                </param>
              </constructor>
            </typeConfig>
          </type>

          <!-- Service Definitions  -->

          <type type="LinkMe.Framework.Host.Wcf.ServiceDefinition, LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              name="linkme.analyse.jobads.serviceDefinition">
            <typeConfig>
              <property name="Service" propertyType="System.Object">
                <dependency type="LinkMe.Analyse.Engine.JobAds.JobAdSentimentAnalysisService, LinkMe.Analyse.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </property>
              <property name="Address" propertyType="System.String">
                <dependency name="linkme.analyse.jobads.tcpAddress" />
              </property>
              <property name="BindingName" propertyType="System.String">
                <value value="linkme.analyse.jobads.tcp" />
              </property>
            </typeConfig>
          </type>

          <type type="LinkMe.Analyse.Engine.JobAds.JobAdSentimentAnalysisService, LinkMe.Analyse.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
          </type>
        </types>

      </container>
    </containers>
    
  </linkme.host.container>

  <linkme.resources.container configSource="linkme.resources.container.config" />
  <linkme.environment.container configSource="linkme.environment.container.config" />
  <linkme.instrumentation.container configSource="linkme.instrumentation.container.config" />

  <system.serviceModel>
    <bindings configSource="system.serviceModel.bindings.config" />
  </system.serviceModel>
</configuration>
