<?xml version="1.0" encoding="utf-8" ?>
<linkme.common.container>

	<typeAliases>
		<typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<typeAlias alias="string" type="System.String" />
	</typeAliases>

	<containers>

		<container>

      <extensions>
        <add type="LinkMe.Framework.Utility.PublishedEvents.Unity.EventBrokerExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        <add type="Microsoft.Practices.Unity.InterceptionExtension.Interception, Microsoft.Practices.Unity.Interception, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </extensions>
      
      <types>

				<type type="LinkMe.Common.JobBoard.IJobAdSearchDataBroker, LinkMe.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
			mapTo="LinkMe.Common.JobBoard.SqlJobAdSearchDataBroker, LinkMe.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />

        <type type="LinkMe.Utility.ICaches, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              mapTo="LinkMe.Utility.NonResettableCaches, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />

      </types>

			<extensionConfig>

				<add name="applicationContext" type="LinkMe.Utility.Container.ApplicationContextConfigurationExtension, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />

				<add name="interception" type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationElement, Microsoft.Practices.Unity.Interception.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<interceptors>
						<interceptor type="Microsoft.Practices.Unity.InterceptionExtension.TransparentProxyInterceptor, Microsoft.Practices.Unity.Interception, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
							<default type="LinkMe.Common.JobBoard.IJobAdSearchDataBroker, LinkMe.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
						</interceptor>
					</interceptors>
				</add>

			</extensionConfig>

		</container>

		<container name="env:dev">
			<types>

        <type type="LinkMe.Utility.ICaches, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              mapTo="LinkMe.Utility.ResettableCaches, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        
      </types>

		</container>

	</containers>

</linkme.common.container>
