<?xml version="1.0" encoding="utf-8" ?>
<linkme.container.web>

    <typeAliases>
        <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </typeAliases>

    <containers>
        <container>

            <extensionConfig>

                <!-- Instantiate event subscribers -->

                <add name="resolve" type="LinkMe.Framework.Utility.Unity.ResolveConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                    <types>
                      <type type="LinkMe.Apps.Agents.Query.Search.Members.MemberSearchSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                      <type type="LinkMe.Apps.Agents.Query.Search.JobAds.JobAdSearchSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                      <!--<type type="LinkMe.Apps.Agents.Query.Search.JobAdsSupplemental.JobAdSortSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />-->
                      <type type="LinkMe.Apps.Agents.Query.Search.Resources.ResourceSearchSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                    </types>
                </add>

            </extensionConfig>

        </container>

      <container name="env:dev">
        <types>

          <type type="LinkMe.Framework.Utility.Wcf.IChannelManager`1[[LinkMe.Domain.Roles.Test.Communications.Mocks.IMockEmailService, LinkMe.Domain.Roles.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Utility.Wcf.WcfTcpChannelManager`1[[LinkMe.Domain.Roles.Test.Communications.Mocks.IMockEmailService, LinkMe.Domain.Roles.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
            <typeConfig>
              <constructor>
                <param name="address" parameterType="System.String">
                  <dependency name="linkme.email.tcpAddress" />
                </param>
                <param name="bindingConfiguration" parameterType="System.String">
                  <value value="linkme.email.tcp" />
                </param>
                <param name="maxItemsInObjectGraph" parameterType="System.Int32">
                  <value value="1000000" type="System.Int32" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Utility.Wcf.IChannelManager`1[[LinkMe.Apps.Mocks.Services.JobG8.IMockJobG8Service, LinkMe.Apps.Mocks, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Utility.Wcf.WcfTcpChannelManager`1[[LinkMe.Apps.Mocks.Services.JobG8.IMockJobG8Service, LinkMe.Apps.Mocks, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
            <typeConfig>
              <constructor>
                <param name="address" parameterType="System.String">
                  <dependency name="linkme.jobg8.tcpAddress" />
                </param>
                <param name="bindingConfiguration" parameterType="System.String">
                  <value value="linkme.jobg8.tcp" />
                </param>
                <param name="maxItemsInObjectGraph" parameterType="System.Int32">
                  <value value="1000000" type="System.Int32" />
                </param>
              </constructor>
            </typeConfig>
          </type>

        </types>
      </container>

    </containers>
  
</linkme.container.web>
