<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.instrumentation.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.host.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <runtime>
    <gcServer enabled="true" />
  </runtime>

  <appSettings>
    <add key="application.property.path" value="C:\LinkMe\config\"/>
  </appSettings>

  <linkme.resources.container configSource="linkme.resources.container.config" />

  <linkme.instrumentation.container>
    <containers>
      <container>

        <extensionConfig>
          <add name="include" type="LinkMe.Framework.Utility.Unity.IncludeConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <section name="linkme.resources.container" />
          </add>
        </extensionConfig>

        <types>

          <type type="LinkMe.Framework.Instrumentation.Message.IMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Instrumentation.MessageComponents.MsmqMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="queue" parameterType="System.String">
                  <dependency name="linkme.instrumentation.service.queue" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Instrumentation.Management.Connection.IRepositoryReader, LinkMe.Framework.Instrumentation.Management, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Instrumentation.Connection.Wmi.WmiConnection, LinkMe.Framework.Instrumentation.Connection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="wmiNamespace" parameterType="System.String">
                  <dependency name="linkme.instrumentation.repository" />
                </param>
              </constructor>
            </typeConfig>
          </type>

        </types>
      </container>
    </containers>
  </linkme.instrumentation.container>

  <linkme.host.container>
    <containers>
      <container>

        <extensionConfig>
          <add name="include" type="LinkMe.Framework.Utility.Unity.IncludeConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <section name="linkme.resources.container" />
          </add>
        </extensionConfig>
        
        <types>

          <type type="LinkMe.Framework.Host.IChannelSource, LinkMe.Framework.Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Host.Msmq.MsmqSource, LinkMe.Framework.Host.Msmq, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="channelSink" parameterType="LinkMe.Framework.Host.IChannelSink, LinkMe.Framework.Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="queues" parameterType="System.String">
                  <dependency name="linkme.instrumentation.app.queue" />
                </param>
                <param name="threadCount" parameterType="System.Int32">
                  <value value="1" type="System.Int32" />
                </param>
                <param name="receiveTimeout" parameterType="System.Int32">
                  <value value="200" type="System.Int32" />
                </param>
                <param name="retryTimeout" parameterType="System.Int32">
                  <value value="500" type="System.Int32" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Host.IChannelSink, LinkMe.Framework.Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Host.Instrumentation.MessageHandlerSink, LinkMe.Framework.Host.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="messageHandler" parameterType="LinkMe.Framework.Instrumentation.Message.IMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="linkme.instrumentation.service.messagehandler" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Instrumentation.Message.IMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                name="linkme.instrumentation.service.messagehandler"
                mapTo="LinkMe.Framework.Instrumentation.MessageComponents.IteratingMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="nextMessageHandlers" parameterType="LinkMe.Framework.Instrumentation.Message.IMessageHandler[], LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <array>
                    <dependency name="linkme.instrumentation.service.trackingfilter" />
                    <dependency name="linkme.instrumentation.service.instrumentationfilter" />
                  </array>
                </param>
              </constructor>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Instrumentation.Message.IMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                name="linkme.instrumentation.service.trackingfilter"
                mapTo="LinkMe.Framework.Instrumentation.MessageComponents.EventFilterMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="nextMessageHandler" parameterType="LinkMe.Framework.Instrumentation.Message.IMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="linkme.instrumentation.service.tracking" />
                </param>
                <param name="isExact" parameterType="System.Boolean">
                  <value value="false" type="System.Boolean" />
                </param>
                <param name="pattern" parameterType="System.String">
                  <value value="\.*Tracking$" type="System.String" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Instrumentation.Message.IMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                name="linkme.instrumentation.service.tracking"
                mapTo="LinkMe.Apps.Tracking.TrackingMessageHandler, LinkMe.Apps.Tracking, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />

          <type type="LinkMe.Apps.Tracking.ITrackingRepository, LinkMe.Apps.Tracking, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Apps.Tracking.Data.TrackingRepository, LinkMe.Apps.Tracking, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />

          <type type="LinkMe.Framework.Utility.Sql.IDbConnectionFactory, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Utility.Sql.SqlConnectionFactory, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="connectionString" parameterType="System.String">
                  <dependency name="database.tracking.connection.string" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Instrumentation.Message.IMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                name="linkme.instrumentation.service.instrumentationfilter"
                mapTo="LinkMe.Framework.Instrumentation.MessageComponents.EventFilterMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="nextMessageHandler" parameterType="LinkMe.Framework.Instrumentation.Message.IMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="linkme.instrumentation.service.instrumentation" />
                </param>
                <param name="isExact" parameterType="System.Boolean">
                  <value value="false" type="System.Boolean" />
                </param>
                <param name="pattern" parameterType="System.String">
                  <value value="^(?!.*Tracking$).*$" type="System.String" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Instrumentation.Message.IMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                name="linkme.instrumentation.service.instrumentation"
                mapTo="LinkMe.Framework.Instrumentation.MessageComponents.MssqlMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="connectionString" parameterType="System.String">
                  <dependency name="database.tracking.connection.string" />
                </param>
              </constructor>
            </typeConfig>
          </type>

        </types>
      </container>
    </containers>
  </linkme.host.container>

</configuration>