<?xml version="1.0" encoding="utf-8" ?>
<linkme.instrumentation.container>

  <containers>
    <container>
      
      <extensionConfig>
        <add name="include" type="LinkMe.Framework.Utility.Unity.IncludeConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          <section name="linkme.resources.container" />
        </add>
      </extensionConfig>

      <types>

        <type type="LinkMe.Framework.Instrumentation.Message.IMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              mapTo="LinkMe.Framework.Instrumentation.MessageComponents.MsmqMessageHandler, LinkMe.Framework.Instrumentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          <typeConfig>
            <constructor>
              <param name="queue" parameterType="System.String">
                <dependency name="linkme.instrumentation.app.queue" />
              </param>
            </constructor>
          </typeConfig>
        </type>

        <type type="LinkMe.Framework.Instrumentation.Management.Connection.IRepositoryReader, LinkMe.Framework.Instrumentation.Management, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              mapTo="LinkMe.Framework.Instrumentation.Connection.Wmi.WmiConnection, LinkMe.Framework.Instrumentation.Connection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          <typeConfig>
            <constructor>
              <param name="wmiNamespace" parameterType="System.String">
                <dependency name="linkme.instrumentation.repository" />
              </param>
            </constructor>
          </typeConfig>
        </type>

      </types>
    </container>
  </containers>

</linkme.instrumentation.container>