<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
    <section name="linkme.instrumentation.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.host.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.environment.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <configProtectedData>
    <providers>
      <add name="FileConfigurationProvider" type="LinkMe.Utility.Configuration.FileConfigurationProvider, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
    </providers>
  </configProtectedData>

  <appSettings>
    <add key="application.property.path" value="c:\LinkMe\config\"/>
  </appSettings>

  <linkme.host.container>

    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </typeAliases>

    <containers>
      <container>
        <extensionConfig>

          <add name="registerTypes" type="LinkMe.Framework.Utility.Unity.RegisterTypesConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <types>
              <type type="LinkMe.Domain.Unity.DomainConfigurator, LinkMe.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Domain.Roles.Unity.RolesConfigurator, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Domain.Users.Unity.UsersConfigurator, LinkMe.Domain.Users, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Query.Unity.QueryConfigurator, LinkMe.Query, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Query.Search.Unity.SearchConfigurator, LinkMe.Query.Search, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Apps.Agents.Unity.AgentsConfigurator, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Apps.Asp.Unity.AspConfigurator, LinkMe.Apps.Asp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
            </types>
          </add>

          <add name="include" type="LinkMe.Framework.Utility.Unity.IncludeConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <section name="linkme.resources.container" />
            <section name="linkme.environment.container" />
          </add>

          <add name="resolve" type="LinkMe.Framework.Utility.Unity.ResolveConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <types>
              <type type="LinkMe.Apps.Agents.Query.Search.Members.MemberSearchSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Apps.Agents.Query.Search.JobAds.JobAdSearchSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Apps.Agents.Query.Search.JobAdsSupplemental.JobAdSortSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Apps.Agents.Query.Search.Resources.ResourceSearchSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Apps.Agents.Workflows.SuggestedJobsWorkflowSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
            </types>
          </add>

        </extensionConfig>

        <types>

          <!-- Source -->

          <type type="LinkMe.Framework.Host.IChannelSource, LinkMe.Framework.Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Host.Wcf.WcfMsmqSource, LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="serviceDefinitions" parameterType="LinkMe.Framework.Host.Wcf.ServiceDefinition[], LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <array>
                    <dependency name="linkme.workflow.candidateStatus.serviceDefinition" />
                    <dependency name="linkme.workflow.suggestedJobs.serviceDefinition" />
                    <dependency name="linkme.workflow.activationEmail.serviceDefinition" />
                  </array>
                </param>
                <param name="application" parameterType="LinkMe.Framework.Host.IChannelAware, LinkMe.Framework.Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency type="LinkMe.Utility.Configuration.ApplicationChannel, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <!-- Workers -->

          <type type="LinkMe.Workflow.Components.PeriodicWorkflow.IWorker, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                name="linkme.workflow.suggestedJobs.worker"
                mapTo="LinkMe.Workflow.Components.PeriodicWorkflow.SuggestedJobs.Worker, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          </type>

          <!-- Services  -->

          <type type="LinkMe.Workflow.Components.CandidateStatusWorkflow.Service, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="connectionFactory" parameterType="LinkMe.Framework.Utility.Sql.IDbConnectionFactory, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="database.workflow.candidatestatus.connection.factory" />
                </param>
                <param name="candidatesWorkflowCommand" parameterType="LinkMe.Domain.Roles.Candidates.Commands.ICandidatesWorkflowCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="candidatesCommand" parameterType="LinkMe.Domain.Roles.Candidates.Commands.ICandidatesCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="membersQuery" parameterType="LinkMe.Domain.Users.Members.Queries.IMembersQuery, LinkMe.Domain.Users, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="emailsCommand" parameterType="LinkMe.Apps.Agents.Communications.Emails.Commands.IEmailsCommand, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </constructor>
              <property name="OwnershipDuration" propertyType="System.TimeSpan">
                <value value="00:30:00" type="System.TimeSpan" />
              </property>
              <property name="PollingInterval" propertyType="System.TimeSpan">
                <value value="00:05:00" type="System.TimeSpan" />
              </property>
            </typeConfig>
          </type>

          <type type="LinkMe.Workflow.Components.PeriodicWorkflow.Service, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                name="linkme.workflow.suggestedJobs.service">
            <lifetime type="singleton" />
            <typeConfig>
              <constructor>
                <param name="connectionFactory" parameterType="LinkMe.Framework.Utility.Sql.IDbConnectionFactory, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="database.workflow.suggestedjobs.connection.factory" />
                </param>
                <param name="worker" parameterType="LinkMe.Workflow.Components.PeriodicWorkflow.IWorker, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="linkme.workflow.suggestedJobs.worker" />
                </param>
              </constructor>
              <property name="OwnershipDuration" propertyType="System.TimeSpan">
                <value value="00:30:00" type="System.TimeSpan" />
              </property>
              <property name="PollingInterval" propertyType="System.TimeSpan">
                <value value="00:05:00" type="System.TimeSpan" />
              </property>
            </typeConfig>
          </type>

          <type type="LinkMe.Workflow.Components.ActivationEmailWorkflow.Service, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="connectionFactory" parameterType="LinkMe.Framework.Utility.Sql.IDbConnectionFactory, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="database.workflow.activationemail.connection.factory" />
                </param>
                <param name="candidatesWorkflowCommand" parameterType="LinkMe.Domain.Roles.Candidates.Commands.ICandidatesWorkflowCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="membersQuery" parameterType="LinkMe.Domain.Users.Members.Queries.IMembersQuery, LinkMe.Domain.Users, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="emailVerificationsQuery" parameterType="LinkMe.Domain.Roles.Registration.Queries.IEmailVerificationsQuery, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="emailsCommand" parameterType="LinkMe.Apps.Agents.Communications.Emails.Commands.IEmailsCommand, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </constructor>
              <property name="OwnershipDuration" propertyType="System.TimeSpan">
                <value value="00:30:00" type="System.TimeSpan" />
              </property>
              <property name="PollingInterval" propertyType="System.TimeSpan">
                <value value="00:05:00" type="System.TimeSpan" />
              </property>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Utility.Wcf.IChannelManager`1[[LinkMe.Workflow.PeriodicWorkflow.IService, LinkMe.Workflow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                name="linkme.workflow.suggestedJobs.proxy"
                mapTo="LinkMe.Framework.Utility.Wcf.LocalChannelManager`1[[LinkMe.Workflow.PeriodicWorkflow.IService, LinkMe.Workflow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
            <typeConfig>
              <constructor>
                <param name="channel" parameterType="LinkMe.Workflow.PeriodicWorkflow.IService, LinkMe.Workflow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="linkme.workflow.suggestedJobs.service" type="LinkMe.Workflow.Components.PeriodicWorkflow.Service, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <type type="LinkMe.Apps.Agents.Workflows.SuggestedJobsWorkflowSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="proxyManager" parameterType="LinkMe.Framework.Utility.Wcf.IChannelManager`1[[LinkMe.Workflow.PeriodicWorkflow.IService, LinkMe.Workflow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="linkme.workflow.suggestedJobs.proxy" />
                </param>
                <param name="candidatesQuery" parameterType="LinkMe.Domain.Roles.Candidates.Queries.ICandidatesQuery, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="settingsQuery" parameterType="LinkMe.Domain.Roles.Communications.Settings.Queries.ISettingsQuery, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="settingsCommand" parameterType="LinkMe.Domain.Roles.Communications.Settings.Commands.ISettingsCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </constructor>
            </typeConfig>
          </type>

          <!-- Service Definitions  -->

          <type type="LinkMe.Framework.Host.Wcf.ServiceDefinition, LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              name="linkme.workflow.candidateStatus.serviceDefinition">
            <typeConfig>
              <property name="Service" propertyType="System.Object">
                <dependency type="LinkMe.Workflow.Components.CandidateStatusWorkflow.Service, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </property>
              <property name="Address" propertyType="System.String">
                <dependency name="linkme.workflow.candidateStatus.msmqAddress" />
              </property>
              <property name="BindingName" propertyType="System.String">
                <value value="linkme.workflow.candidateStatus.msmq" />
              </property>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Host.Wcf.ServiceDefinition, LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              name="linkme.workflow.suggestedJobs.serviceDefinition">
            <typeConfig>
              <property name="Service" propertyType="System.Object">
                <dependency name="linkme.workflow.suggestedJobs.service" type="LinkMe.Workflow.Components.PeriodicWorkflow.Service, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </property>
              <property name="Address" propertyType="System.String">
                <dependency name="linkme.workflow.suggestedJobs.msmqAddress" />
              </property>
              <property name="BindingName" propertyType="System.String">
                <value value="linkme.workflow.suggestedJobs.msmq" />
              </property>
            </typeConfig>
          </type>

          <type type="LinkMe.Framework.Host.Wcf.ServiceDefinition, LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              name="linkme.workflow.activationEmail.serviceDefinition">
            <typeConfig>
              <property name="Service" propertyType="System.Object">
                <dependency type="LinkMe.Workflow.Components.ActivationEmailWorkflow.Service, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </property>
              <property name="Address" propertyType="System.String">
                <dependency name="linkme.workflow.activationEmail.msmqAddress" />
              </property>
              <property name="BindingName" propertyType="System.String">
                <value value="linkme.workflow.activationEmail.msmq" />
              </property>
            </typeConfig>
          </type>

        </types>
      </container>

      <container name="env:uat">

        <types>
          <type type="LinkMe.Workflow.CandidateStatusWorkflow.IService, LinkMe.Workflow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Workflow.Components.CandidateStatusWorkflow.Service, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="connectionFactory" parameterType="LinkMe.Framework.Utility.Sql.IDbConnectionFactory, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="database.workflow.candidatestatus.connection.factory" />
                </param>
                <param name="candidatesWorkflowCommand" parameterType="LinkMe.Domain.Roles.Candidates.Commands.ICandidatesWorkflowCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="candidatesCommand" parameterType="LinkMe.Domain.Roles.Candidates.Commands.ICandidatesCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="membersQuery" parameterType="LinkMe.Domain.Users.Members.Queries.IMembersQuery, LinkMe.Domain.Users, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="emailsCommand" parameterType="LinkMe.Apps.Agents.Communications.Emails.Commands.IEmailsCommand, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </constructor>
              <property name="OwnershipDuration" propertyType="System.TimeSpan">
                <value value="00:30:00" type="System.TimeSpan" />
              </property>
              <property name="PollingInterval" propertyType="System.TimeSpan">
                <value value="00:05:00" type="System.TimeSpan" />
              </property>
              <property name="LookingConfirmDelay" propertyType="System.TimeSpan">
                <value value="12:00:15" type="System.TimeSpan" />
              </property>
              <property name="LookingResponseDelay" propertyType="System.TimeSpan">
                <value value="12:00:15" type="System.TimeSpan" />
              </property>
              <property name="AvailableDailyDelay" propertyType="System.TimeSpan">
                <value value="12:00:15" type="System.TimeSpan" />
              </property>
              <property name="AvailableWeeklyDelay" propertyType="System.TimeSpan">
                <value value="12:00:15" type="System.TimeSpan" />
              </property>
            </typeConfig>
          </type>

          <type type="LinkMe.Workflow.Components.ActivationEmailWorkflow.Service, LinkMe.Workflow.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="connectionFactory" parameterType="LinkMe.Framework.Utility.Sql.IDbConnectionFactory, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <dependency name="database.workflow.activationemail.connection.factory" />
                </param>
                <param name="candidatesWorkflowCommand" parameterType="LinkMe.Domain.Roles.Candidates.Commands.ICandidatesWorkflowCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="membersQuery" parameterType="LinkMe.Domain.Users.Members.Queries.IMembersQuery, LinkMe.Domain.Users, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="emailVerificationsQuery" parameterType="LinkMe.Domain.Roles.Registration.Queries.IEmailVerificationsQuery, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
                <param name="emailsCommand" parameterType="LinkMe.Apps.Agents.Communications.Emails.Commands.IEmailsCommand, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </constructor>
              <property name="OwnershipDuration" propertyType="System.TimeSpan">
                <value value="00:00:10" type="System.TimeSpan" />
              </property>
              <property name="PollingInterval" propertyType="System.TimeSpan">
                <value value="00:00:05" type="System.TimeSpan" />
              </property>
              <property name="Delays" propertyType="System.TimeSpan[]">
                <array>
                  <value value="00:00:05" type="System.TimeSpan" />
                  <value value="00:00:05" type="System.TimeSpan" />
                  <value value="00:00:10" type="System.TimeSpan" />
                </array>
              </property>
            </typeConfig>
          </type>

        </types>
      </container>

    </containers>

  </linkme.host.container>

  <linkme.resources.container configSource="linkme.resources.container.config" />
  <linkme.environment.container configSource="linkme.environment.container.config" />
  <linkme.instrumentation.container configSource="linkme.instrumentation.container.config" />

  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c{1} - %m %n"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:/linkme/log/linkme-workflow.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10000KB"/>
      <maxSizeRollBackups value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c{1} - %m %n"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>

  <system.serviceModel>

    <bindings configProtectionProvider="FileConfigurationProvider">
      <EncryptedData>
        <file name="system.serviceModel.bindings.config" configFolder="true" />
      </EncryptedData>
    </bindings>

    <diagnostics wmiProviderEnabled="true" />

  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>

      <source name="System.Workflow.Runtime" >
        <listeners>
          <add name = "text"/>
        </listeners>
      </source>
      <source name="System.Workflow.Runtime.Hosting">
        <listeners>
          <add name="text"/>
        </listeners>
      </source>
      <source name="System.Workflow.Activities">
        <listeners>
          <add name="text"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="System.Workflow.LogToTraceListeners" value="1"/>
      <add name="System.Workflow.Runtime" value="Error" />
      <add name="System.Workflow.Runtime.Hosting" value="Error" />
      <add name="System.Workflow.Runtime.Tracking" value="Error" />
      <add name="System.Workflow.Activities" value="Error" />
      <add name="System.Workflow.Activities.Rules" value="Error" />
    </switches>

    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="C:\LinkMe\log\Traces.svclog" />
      <add name="text"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="C:\LinkMe\log\WFTrace.log"
           traceOutputOptions="DateTime,ProcessId"/>
    </sharedListeners>

  </system.diagnostics>

</configuration>