<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <section name="linkme.instrumentation.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.host.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.environment.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <configProtectedData>
    <providers>
      <add name="FileConfigurationProvider" type="LinkMe.Utility.Configuration.FileConfigurationProvider, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
    </providers>
  </configProtectedData>

  <runtime>
    <gcServer enabled="true" />
  </runtime>

  <appSettings>
    <add key="application.property.path" value="c:\LinkMe\config\"/>
  </appSettings>

  <linkme.host.container>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </typeAliases>
    
    <containers>
      <container>
        <extensionConfig>

          <add name="registerTypes" type="LinkMe.Framework.Utility.Unity.RegisterTypesConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <types>
              <type type="LinkMe.Domain.Unity.DomainConfigurator, LinkMe.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Domain.Roles.Unity.RolesConfigurator, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Domain.Users.Unity.UsersConfigurator, LinkMe.Domain.Users, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Query.Unity.QueryConfigurator, LinkMe.Query, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Query.Search.Unity.SearchConfigurator, LinkMe.Query.Search, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Query.Search.Engine.Unity.QueryEngineConfigurator, LinkMe.Query.Search.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <type type="LinkMe.Apps.Agents.Unity.AgentsConfigurator, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
            </types>
          </add>

          <add name="include" type="LinkMe.Framework.Utility.Unity.IncludeConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <section name="linkme.resources.container" />
            <section name="linkme.environment.container" />
          </add>

        </extensionConfig>

        <types>

          <!-- Search -->
          <type type="LinkMe.Framework.Host.IChannelSource, LinkMe.Framework.Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Framework.Host.Wcf.WcfTcpSource, LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <typeConfig>
              <constructor>
                <param name="serviceDefinitions" parameterType="LinkMe.Framework.Host.Wcf.ServiceDefinition[], LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                  <array>
                    <dependency name="linkme.search.jobads.serviceDefinition" />
                  </array>
                </param>
              </constructor>
            </typeConfig>
          </type>

          <!-- Service Definitions  -->

          <type type="LinkMe.Framework.Host.Wcf.ServiceDefinition, LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              name="linkme.search.jobads.serviceDefinition">
            <typeConfig>
              <property name="Service" propertyType="System.Object">
                <dependency type="LinkMe.Query.Search.Engine.JobAds.Search.JobAdSearchService, LinkMe.Query.Search.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </property>
              <property name="Address" propertyType="System.String">
                <dependency name="linkme.search.jobads.tcpAddress" />
              </property>
              <property name="BindingName" propertyType="System.String">
                <value value="linkme.search.jobads.tcp" />
              </property>
            </typeConfig>
          </type>

        </types>
      </container>

      <container name="env:prod">
        <types>
          <type type="LinkMe.Query.Search.Engine.JobAds.Search.JobAdSearchService, LinkMe.Query.Search.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
            <typeConfig>
              <property name="MonitorForChanges" propertyType="System.Boolean">
                <value value="true" type="System.Boolean" />
              </property>
              <property name="IndexFolder" propertyType="System.String">
                <dependency name="linkme.search.jobads.indexFolder" />
              </property>
              <property name="InitialiseThreads" propertyType="System.Int32">
                <value value="5" type="System.Int32" />
              </property>
            </typeConfig>
          </type>
        </types>
      </container>

      <container name="env:dev">
        <types>
          <type type="LinkMe.Query.Search.Engine.JobAds.Search.JobAdSearchService, LinkMe.Query.Search.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                name="linkme.search.jobads.otherservice">
            <lifetime type="singleton" />
          </type>
        </types>
      </container>
    </containers>
    
  </linkme.host.container>

  <linkme.resources.container configSource="linkme.resources.container.config" />
  <linkme.environment.container configSource="linkme.environment.container.config" />
  <linkme.instrumentation.container configSource="linkme.instrumentation.container.config" />

  <system.serviceModel>
    <bindings configSource="system.serviceModel.bindings.config" />
  </system.serviceModel>
  
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\LinkMe\log\JobAdSearch.svclog" />
    </sharedListeners>
  </system.diagnostics>
  
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:/linkme/log/linkme-search.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10000KB"/>
      <maxSizeRollBackups value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c{1} - %m %n"/>
      </layout>
    </appender>

    <appender name="EventLog" type="log4net.Appender.EventLogAppender" >
      <!- An Event Source with this name is created by the installer. Keep it in sync if you change the name or add a new one. ->
      <applicationName value="LinkMe.Search" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c{1} - %m %n"/>
      </layout>
    </appender>

    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="EventLog"/>
    </root>
    <logger name="LinkMe">
      <level value="INFO" />
    </logger>
  </log4net>
  -->
</configuration>
