<?xml version="1.0" encoding="utf-8" ?>
<linkme.resources.container>
  <containers>

    <container>
      <instances>
        
        <!-- instrumentation -->
        <add name="linkme.instrumentation.service.queue" value="DIRECT=OS:.\private$\linkme.instrumentation.service" />
        <add name="linkme.instrumentation.repository" value="\\.\root\LinkMe" />

        <!-- member search -->
        <add name="linkme.search.members.tcpAddress" value="net.tcp://localhost:9010/linkme/search/resume" />
        <add name="linkme.search.members.suggested.ignore" value="up,to,job,jobs,excellent,super,career,your,impressive,prestigious,experience,CBD,want,a,the,bonus,immediate,OTE,big,unique,opportunity,week,weeks,wks,year,years,yrs,annum,of,p/hr,hr,per,hour,hours,month,months,role,roles,more,than,firm,what,do,you,for,new,start,or,and,not,until,with,approx,circa,about,location,like,where,maybe,this,is,are,thing,on,in,name,next,step" />

        <!-- job search -->
        <add name="linkme.search.jobads.tcpAddress" value="net.tcp://localhost:9020/linkme/search/job" />

        <!-- job sort -->
        <add name="linkme.sort.jobads.tcpAddress" value="net.tcp://localhost:9021/linkme/sort/job" />

        <!-- resource search -->
        <add name="linkme.search.resources.tcpAddress" value="net.tcp://localhost:9040/linkme/search/resource" />

        <!-- workflow -->
        <add name="linkme.workflow.ownershipDuration" value="00:00:10" type="System.TimeSpan" />
        <add name="linkme.workflow.pollingInterval" value="00:00:05" type="System.TimeSpan" />
        <add name="linkme.workflow.candidateStatus.msmqAddress" value="net.msmq://localhost/private/linkme.workflow.candidateStatus" />
        <add name="linkme.workflow.suggestedJobs.msmqAddress" value="net.msmq://localhost/private/linkme.workflow.suggestedJobs" />
        <add name="linkme.workflow.activationEmail.msmqAddress" value="net.msmq://localhost/private/linkme.workflow.activationEmail" />
        
        <!-- jobexport -->
        <add name="linkme.jobexport.jobsearch.msmqAddress" value="net.msmq://localhost/private/linkme.jobexport.jobsearch" />
        
        <!-- smtp -->
        <add name="linkme.communications.smtp.server" value="mail.linkme.com.au" />
        <add name="linkme.communications.smtp.port" value="587" type="System.Int32" />
        <add name="linkme.communications.smtp.timeout" value="1000000" type="System.Int32" />
        <add name="linkme.communications.smtp.userName" value="AKIAICXDZMHICYGOIBGA" />
        <add name="linkme.communications.smtp.password" value="Aj5EZKPSmDOrF+KBhA2tj8SsK5PDItVVPLObzFiXqoHt" />

        <!-- emails -->
        
        <add name="email.services.displayname" value="LinkMe" />
        <add name="email.allstaff.displayname" value="LinkMe Staff" />
        <add name="email.sales.displayname" value="Sales Administrator" />
        <add name="email.redstarresume.displayname" value="RedStar Resume" />
        
        <!-- credits -->

        <add name="linkme.domain.users.employers.credits.applicantsPerJobAd" value="20" type="System.Int32" />

        <!-- networking -->

        <add name="linkme.domain.roles.networking.tempFriendDays" value="28" type="System.Int32" />
        <add name="linkme.domain.roles.networking.invitationResendableDays" value="2" type="System.Int32" />
        
        <!-- job ads -->

        <add name="linkme.domain.roles.jobads.durationDays" value="14" type="System.Int32" />
        <add name="linkme.domain.roles.jobads.extendedDurationDays" value="30" type="System.Int32" />
        
        <!-- security -->

        <add name="linkme.apps.agents.security.overridePasswordEnabled" value="true" type="System.Boolean" />
        
        <!-- dev -->

        <add name="dev.password" value="tvXJHoPt6p2dVYsQyN7MZw==" />

        <!-- jobG8 -->

        <add name="linkme.integration.jobg8.jobPoster" value="jobg8-jobs" />

      </instances>

    </container>

    <container name="env:dev">
      <instances>
        
        <!-- config -->

        <add name="linkme.config.folder" value="Apps\Config\" />

        <!-- database -->

        <add name="database.connection.string" value="Initial Catalog=LinkMe;Data Source=(LOCAL);user id=linkme_owner;password=linkme;" />
        <add name="database.tracking.connection.string" value="Initial Catalog=Instrumentation;Data Source=(LOCAL);Integrated Security=SSPI;" />
        <add name="database.tinyurl.connection.string" value="Initial Catalog=LinkMe;Data Source=(LOCAL);Integrated Security=SSPI;" />
        <add name="database.command.timeout" value="00:05:00" type="System.TimeSpan" />

        <!-- instrumentation -->
        <add name="linkme.instrumentation.app.queue" value="DIRECT=OS:.\private$\linkme.instrumentation.app" />

        <!-- member search -->
        <add name="linkme.search.members.other.tcpAddress" value="net.tcp://localhost:9011/linkme/search/resume" />

        <!-- job search -->
        <add name="linkme.search.jobads.other.tcpAddress" value="net.tcp://localhost:9021/linkme/search/job" />

        <!-- job sort -->
        <add name="linkme.sort.jobads.other.tcpAddress" value="net.tcp://localhost:9031/linkme/sort/job" />

        <!-- resource search -->
        <add name="linkme.search.resources.other.tcpAddress" value="net.tcp://localhost:9041/linkme/search/resource" />

        <add name="linkme.search.members.folder" value="" />
        <add name="linkme.search.jobads.folder" value="" />

        <!-- emails -->

        <add name="linkme.email.tcpAddress" value="net.tcp://localhost:9030/linkme/email" />
        <add name="email.memberservices.address" value="msinbox@test.linkme.net.au" />
        <add name="email.clientservices.address" value="csinbox@test.linkme.net.au" />
        <add name="email.return.address" value="do_not_reply@test.linkme.net.au" />
        <add name="email.system.address" value="system@test.linkme.net.au" />
        <add name="email.allstaff.address" value="allstaff@test.linkme.net.au" />
        <add name="email.redstarresume.address" value="redstarresume@test.linkme.net.au" />

        <!-- services -->

        <add name="linkme.jobg8.tcpAddress" value="net.tcp://localhost:9040/linkme/jobg8" />

        <add name="securepay.merchantid" value="LIG0009" />
        <add name="securepay.password" value="hZXwgjpN" />
        <add name="securepay.url" value="https://www.securepay.com.au/test/payment" />
        <add name="securepay.antifraud.merchantid" value="ABC0001" />
        <add name="securepay.antifraud.password" value="abc123" />
        <add name="securepay.antifraud.url" value="https://test.securepay.com.au/antifraud/payment" />

        <add name="apple.url" value="https://sandbox.itunes.apple.com/verifyReceipt" />
        <add name="apple.p12FileName" value="DevelopmentPushCert.p12" />
        <add name="apple.p12Password" value="Qwerty123" />
        <add name="apple.sandbox" value="true" type="System.Boolean" />

        <!-- lens -->

        <add name="lens.connection.port" value="2000" type="System.Int32" />
        <add name="lens.connection.host" value="lens.armadale.linkme.net.au" />

        <!-- files -->

        <add name="linkme.domain.files.rootpath" value="c:\linkme\UserFiles" />
        
        <!-- security -->

        <add name="linkme.apps.agents.security.overridePassword" value="4s8YF/m7dxMweUmtpBTLaA==" />
        <add name="linkme.apps.agents.security.obfuscateEmails" value="true" type="System.Boolean" />
        
        <!-- dev -->

        <add name="dev.always.logged.in" value="true" type="System.Boolean" />
      
      </instances>
    </container>

    <container name="env:uat">
      <instances>

        <!-- config -->

        <add name="linkme.config.folder" value="C:\LinkMe\Config\" />

        <!-- database -->

        <add name="database.connection.string" value="Initial Catalog=LinkMe;Data Source=DEVDB01;Integrated Security=SSPI;" />
        <add name="database.tracking.connection.string" value="Initial Catalog=Instrumentation;Data Source=DEVDB01;Integrated Security=SSPI;" />
        <add name="database.tinyurl.connection.string" value="Initial Catalog=LinkMe;Data Source=DEVDB01;Integrated Security=SSPI;" />
        <add name="database.workflow.candidatestatus.connection.string" value="Initial Catalog=CandidateStatusWorkflow;Data Source=DEVDB01;user id=linkme_owner;password=linkme;" />
        <add name="database.workflow.suggestedjobs.connection.string" value="Initial Catalog=SuggestedJobsWorkflow;Data Source=DEVDB01;user id=linkme_owner;password=linkme;" />
        <add name="database.workflow.activationemail.connection.string" value="Initial Catalog=ActivationEmailWorkflow;Data Source=DEVDB01;user id=linkme_owner;password=linkme;" />
        <add name="database.command.timeout" value="00:05:00" type="System.TimeSpan" />

        <!-- instrumentation -->
        <add name="linkme.instrumentation.app.queue" value="DIRECT=OS:.\private$\linkme.instrumentation.app" />

        <!-- resume search -->
        <add name="linkme.search.members.folder" value="C:\LinkMe\SearchMeDB\Resume" />
        <add name="linkme.search.members.saveTrigger" value="10" type="System.Int32" />
        <add name="linkme.search.members.saveInterval" value="00:01:00" type="System.TimeSpan" />
          
        <!-- job search -->
        <add name="linkme.search.jobads.folder" value="C:\LinkMe\SearchMeDB\Job" />

        <!-- emails -->

        <add name="email.memberservices.address" value="msinbox@test.linkme.net.au" />
        <add name="email.clientservices.address" value="csinbox@test.linkme.net.au" />
        <add name="email.return.address" value="do_not_reply@test.linkme.net.au" />
        <add name="email.system.address" value="system@test.linkme.net.au" />
        <add name="email.allstaff.address" value="allstaff@test.linkme.net.au" />
        <add name="email.redstarresume.address" value="redstarresume@test.linkme.net.au" />
        
        <!-- services -->

        <add name="securepay.merchantid" value="LIG0009" />
        <add name="securepay.password" value="hZXwgjpN" />
        <add name="securepay.url" value="https://www.securepay.com.au/test/payment" />
        <add name="securepay.antifraud.merchantid" value="ABC0001" />
        <add name="securepay.antifraud.password" value="abc123" />
        <add name="securepay.antifraud.url" value="https://test.securepay.com.au/antifraud/payment" />

        <add name="apple.url" value="https://sandbox.itunes.apple.com/verifyReceipt" />
        <add name="apple.p12FileName" value="DevelopmentPushCert.p12" />
        <add name="apple.p12Password" value="Qwerty123" />
        <add name="apple.sandbox" value="true" type="System.Boolean" />

        <!-- lens -->

        <add name="lens.connection.port" value="2000" type="System.Int32" />
        <add name="lens.connection.host" value="lens.armadale.linkme.net.au" />
        
        <!-- files -->

        <add name="linkme.domain.files.rootpath" value="\\devdb01\UserFiles" />

        <!-- security -->

        <add name="linkme.apps.agents.security.overridePassword" value="4s8YF/m7dxMweUmtpBTLaA==" />
        <add name="linkme.apps.agents.security.obfuscateEmails" value="true" type="System.Boolean" />

        <!-- dev -->

        <add name="dev.always.logged.in" value="true" type="System.Boolean" />
        
      </instances>
    </container>

    <container name="env:prod">
      <instances>

        <!-- config -->

        <add name="linkme.config.folder" value="C:\LinkMe\Config\" />

        <!-- database -->
        
        <add name="database.connection.string" value="Initial Catalog=LinkMe;Data Source=db1-int.amazon.linkme.net.au;User ID=LinkMeApp;Password=LetMeIn$;" />
        <add name="database.tracking.connection.string" value="Initial Catalog=Instrumentation;Data Source=db1-int.amazon.linkme.net.au;User ID=LinkMeApp;Password=LetMeIn$;" />
        <add name="database.tinyurl.connection.string" value="Initial Catalog=LinkMe;Data Source=db1-int.amazon.linkme.net.au;User ID=LinkMeApp;Password=LetMeIn$;" />
        <add name="database.workflow.candidatestatus.connection.string" value="Initial Catalog=CandidateStatusWorkflow;Data Source=db1-int.amazon.linkme.net.au;User ID=LinkMeApp;Password=LetMeIn$;" />
        <add name="database.workflow.suggestedjobs.connection.string" value="Initial Catalog=SuggestedJobsWorkflow;Data Source=db1-int.amazon.linkme.net.au;User ID=LinkMeApp;Password=LetMeIn$;" />
        <add name="database.workflow.activationemail.connection.string" value="Initial Catalog=ActivationEmailWorkflow;Data Source=db1-int.amazon.linkme.net.au;User ID=LinkMeApp;Password=LetMeIn$;" />
        <add name="database.command.timeout" value="00:05:00" type="System.TimeSpan" />

        <!-- instrumentation -->
        <add name="linkme.instrumentation.app.queue" value="DIRECT=TCP:172.31.24.249\private$\linkme.instrumentation.app" />
        
        <!-- member search -->
        <add name="linkme.search.members.indexFolder" value="Y:\LinkMe\Search\MemberIndex" />
        <add name="linkme.search.members.saveTrigger" value="500" type="System.Int32" />
        <add name="linkme.search.members.saveInterval" value="01:00:00" type="System.TimeSpan" />
          
        <!-- job search -->
        <add name="linkme.search.jobads.indexFolder" value="Y:\LinkMe\Search\JobAdIndex" />

        <!-- job sort -->
        <add name="linkme.sort.jobads.indexFolder" value="Y:\LinkMe\Sort\JobAdIndex" />

        <!-- resource search -->
        <add name="linkme.search.resources.indexFolder" value="Y:\LinkMe\Search\ResourceIndex" />
        
        <!-- workflow -->
        <add name="linkme.workflow.candidateStatus.msmqAddress" value="net.msmq://172.31.24.249/private/linkme.workflow.candidateStatus" />
        <add name="linkme.workflow.suggestedJobs.msmqAddress" value="net.msmq://172.31.24.249/private/linkme.workflow.suggestedJobs" />
        <add name="linkme.workflow.activationEmail.msmqAddress" value="net.msmq://172.31.24.249/private/linkme.workflow.activationEmail" />

        <!-- jobexport -->
        <add name="linkme.jobexport.jobsearch.msmqAddress" value="net.msmq://172.31.24.249/private/linkme.jobexport.jobsearch" />

        <!-- smtp -->

        <add name="linkme.communications.smtp.server" value="email-smtp.us-east-1.amazonaws.com" />
        
        <!-- emails -->

        <add name="email.memberservices.address" value="msinbox@linkme.com.au" />
        <add name="email.clientservices.address" value="csinbox@linkme.com.au" />
        <add name="email.return.address" value="do_not_reply@linkme.net.au" />
        <add name="email.system.address" value="system@linkme.com.au" />
        <add name="email.allstaff.address" value="allstaff@linkme.com.au" />
        <add name="email.redstarresume.address" value="questions@redstarresume.com" />

        <!-- services -->

        <add name="securepay.merchantid" value="LIG0009" />
        <add name="securepay.password" value="abc123" />
        <add name="securepay.url" value="https://www.securepay.com.au/xmlapi/payment" />
        <add name="securepay.antifraud.merchantid" value="LIG0009" />
        <add name="securepay.antifraud.password" value="abc123" />
        <add name="securepay.antifraud.url" value="https://www.securepay.com.au/antifraud/payment" />

        <add name="apple.url" value="https://buy.itunes.apple.com/verifyReceipt" />
        <add name="apple.p12FileName" value="LinkMe-APNS-Production.p12" />
        <add name="apple.p12Password" value="linkme2011" />
        <add name="apple.sandbox" value="false" type="System.Boolean" />

        <!-- lens -->

        <add name="lens.connection.port" value="2000" type="System.Int32" />
        <add name="lens.connection.host" value="lens.linkme.net.au" />

        <!-- files -->

        <add name="linkme.domain.files.rootpath" value="D:\UserFiles" />

        <!-- security -->

        <add name="linkme.apps.agents.security.overridePassword" value="Me4VsiIz6Py4EmP9EV/GAQ==" />
        <add name="linkme.apps.agents.security.obfuscateEmails" value="false" type="System.Boolean" />

        <!-- dev -->

        <add name="dev.always.logged.in" value="false" type="System.Boolean" />
        
      </instances>
    </container>

    <container name="host:newapp4">
      <instances>

        <!-- smtp -->
        <add name="linkme.communications.smtp.server" value="extramail.linkme.net.au" />

      </instances>
    </container>

  </containers>
</linkme.resources.container>