<?xml version="1.0" encoding="utf-8" ?>
<linkme.apps.management>

  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </typeAliases>

  <containers>
    <container>

      <extensionConfig>

        <!-- Instantiate event subscribers -->

        <add name="resolve" type="LinkMe.Framework.Utility.Unity.ResolveConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          <types>
            <type type="LinkMe.Apps.Agents.Query.Search.Members.MemberSearchSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
            <type type="LinkMe.Apps.Agents.Query.Search.JobAds.JobAdSearchSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
            <!--<type type="LinkMe.Apps.Agents.Query.Search.JobAdsSupplemental.JobAdSortSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />-->
            <type type="LinkMe.Apps.Agents.Query.Search.Resources.ResourceSearchSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
            <type type="LinkMe.Apps.Agents.Subscribers.MemberEventsSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
            <type type="LinkMe.Apps.Agents.Subscribers.UserEventsSubscriber, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
          </types>
        </add>

      </extensionConfig>

      <types>

          <type type="LinkMe.Apps.Management.NewsItems.INewsItemsQuery, LinkMe.Apps.Management"
              mapTo="LinkMe.Apps.Management.NewsItems.NewsItemsQuery, LinkMe.Apps.Management">
            <lifetime type="singleton" />
          </type>
      
      </types>

    </container>
  </containers>

</linkme.apps.management>
