<?xml version="1.0" encoding="utf-8" ?>
<linkme.environment.container>

  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </typeAliases>

  <containers>
    <container name="env:dev">
      <types>

        <type type="LinkMe.Framework.Communications.IEmailClient, LinkMe.Framework.Communications, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              mapTo="LinkMe.Domain.Roles.Test.Communications.Mocks.MockEmailClient, LinkMe.Domain.Roles.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />

        <type type="LinkMe.Domain.Roles.Resumes.Commands.IParseResumeDataCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              mapTo="LinkMe.Domain.Roles.Test.Candidates.Mocks.MockLensParseResumeDataCommand, LinkMe.Domain.Roles.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          <lifetime type="singleton" />
        </type>

        <type type="LinkMe.Apps.Agents.Security.Commands.IPasswordsCommand, LinkMe.Apps.Agents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              mapTo="LinkMe.Apps.Mocks.Security.NotSoRandomPasswordsCommand, LinkMe.Apps.Mocks, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
        
        <type type="LinkMe.Domain.Roles.Orders.Commands.IPurchasesCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              mapTo="LinkMe.Domain.Roles.Test.Orders.MockPurchasesCommand, LinkMe.Domain.Roles.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          <lifetime type="singleton" />
        </type>

        <type type="LinkMe.Apps.Services.External.SecurePay.ISendSecurePayCommand, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
					  mapTo="LinkMe.Apps.Mocks.Services.SecurePay.MockSendSecurePayCommand, LinkMe.Apps.Mocks, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />

        <type type="LinkMe.Apps.Services.External.JobG8.Commands.ISendJobG8Command, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
					  mapTo="LinkMe.Apps.Mocks.Services.JobG8.MockSendJobG8Command, LinkMe.Apps.Mocks, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />

        <type type="LinkMe.Framework.Utility.Wcf.IChannelManager`1[[LinkMe.Domain.Roles.Test.Communications.Mocks.IMockEmailService, LinkMe.Domain.Roles.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              mapTo="LinkMe.Framework.Utility.Wcf.WcfTcpChannelManager`1[[LinkMe.Domain.Roles.Test.Communications.Mocks.IMockEmailService, LinkMe.Domain.Roles.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          <lifetime type="singleton" />
          <typeConfig>
            <constructor>
              <param name="address" parameterType="System.String">
                <dependency name="linkme.email.tcpAddress" />
              </param>
              <param name="bindingConfiguration" parameterType="System.String">
                <value value="linkme.email.tcp" />
              </param>
              <param name="maxItemsInObjectGraph" parameterType="System.Int32">
                <value value="1000000" type="System.Int32" />
              </param>
            </constructor>
          </typeConfig>
        </type>

        <type type="LinkMe.Framework.Utility.Wcf.IChannelManager`1[[LinkMe.Apps.Mocks.Services.JobG8.IMockJobG8Service, LinkMe.Apps.Mocks, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              mapTo="LinkMe.Framework.Utility.Wcf.WcfTcpChannelManager`1[[LinkMe.Apps.Mocks.Services.JobG8.IMockJobG8Service, LinkMe.Apps.Mocks, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6]], LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          <lifetime type="singleton" />
          <typeConfig>
            <constructor>
              <param name="address" parameterType="System.String">
                <dependency name="linkme.jobg8.tcpAddress" />
              </param>
              <param name="bindingConfiguration" parameterType="System.String">
                <value value="linkme.jobg8.tcp" />
              </param>
              <param name="maxItemsInObjectGraph" parameterType="System.Int32">
                <value value="1000000" type="System.Int32" />
              </param>
            </constructor>
          </typeConfig>
        </type>

      </types>
    </container>

    <container name="env:uat">
      <types>

        <type type="LinkMe.Domain.Roles.Orders.Commands.IPurchasesCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
					  mapTo="LinkMe.Apps.Services.External.SecurePay.StubPurchasesCommand, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          <lifetime type="singleton" />
        </type>

        <type type="LinkMe.Apps.Services.External.JobG8.Commands.ISendJobG8Command, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
					  mapTo="LinkMe.Apps.Services.External.JobG8.Commands.StubSendJobG8Command, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />

        <type type="LinkMe.Apps.Services.External.SecurePay.ISendSecurePayCommand, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
					  mapTo="LinkMe.Apps.Services.External.SecurePay.SendSecurePayCommand, LinkMe.Apps.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
          <lifetime type="singleton" />
          <typeConfig>
            <constructor>
              <param name="purchaseTransactionsCommand" parameterType="LinkMe.Domain.Roles.Orders.Commands.IPurchaseTransactionsCommand, LinkMe.Domain.Roles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              <param name="useAntiFraud" parameterType="System.Boolean">
                <value value="false" type="System.Boolean" />
              </param>
              <param name="url" parameterType="System.String">
                <dependency name="securepay.url" />
              </param>
              <param name="antiFraudUrl" parameterType="System.String">
                <dependency name="securepay.antifraud.url" />
              </param>
              <param name="ignoreCents" parameterType="System.Boolean">
                <value value="true" type="System.Boolean" />
              </param>
            </constructor>
          </typeConfig>
        </type>

      </types>
    </container>

  </containers>

</linkme.environment.container>