<?xml version="1.0" encoding="utf-8" ?>
<linkme.workflow.container>
  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <typeAlias alias="string" type="System.String" />
  </typeAliases>

  <containers>
    <container>
      <types>

      </types>
    </container>

  </containers>
</linkme.workflow.container>