<?xml version="1.0"?>
<bindings>

  <netTcpBinding>
    
    <binding name="linkme.search.members.tcp" maxReceivedMessageSize="32000000">
      <readerQuotas maxDepth="128" maxStringContentLength="32000000" />
    </binding>

    <binding name="linkme.search.jobads.tcp" maxReceivedMessageSize="32000000">
      <readerQuotas maxDepth="128" maxStringContentLength="32000000" />
    </binding>

    <binding name="linkme.search.resources.tcp" maxReceivedMessageSize="32000000">
      <readerQuotas maxDepth="128" maxStringContentLength="32000000" />
    </binding>

    <binding name="linkme.sort.jobads.tcp" maxReceivedMessageSize="32000000">
      <readerQuotas maxDepth="128" maxStringContentLength="32000000" />
    </binding>

    <binding name="linkme.email.tcp" maxReceivedMessageSize="32000000">
      <readerQuotas maxDepth="128" maxStringContentLength="32000000" />
    </binding>

    <binding name="linkme.jobg8.tcp" maxReceivedMessageSize="32000000">
      <readerQuotas maxDepth="128" maxStringContentLength="32000000" />
    </binding>

  </netTcpBinding>

  <netMsmqBinding>
    
    <!-- workflow -->
    
    <binding name="linkme.workflow.candidateStatus.msmq" durable="true" exactlyOnce="false" receiveTimeout="1.00:00:00" timeToLive="2.00:00:00">
      <security mode="None" />
    </binding>
    
    <binding name="linkme.workflow.suggestedJobs.msmq" durable="true" exactlyOnce="false" receiveTimeout="1.00:00:00" timeToLive="2.00:00:00">
      <security mode="None" />
    </binding>

    <binding name="linkme.workflow.activationEmail.msmq" durable="true" exactlyOnce="false" receiveTimeout="1.00:00:00" timeToLive="2.00:00:00">
      <security mode="None" />
    </binding>

    <!-- jobexport -->

    <binding name="linkme.jobexport.jobsearch.msmq" durable="true" exactlyOnce="false" receiveTimeout="7.00:00:00" timeToLive="14.00:00:00" maxReceivedMessageSize="32000000">
      <security mode="None" />
      <readerQuotas maxStringContentLength="32000000" />
    </binding>

  </netMsmqBinding>

  <basicHttpBinding>
    
    <binding name="linkme.integration.jobg8.service" maxReceivedMessageSize="32000000" />

    <binding name="linkme.jobexport.jobsearch.http">
      <security mode="Transport" />
    </binding>

    <binding name="linkme.tasks.hrcareers.http" sendTimeout="00:05:00" />    
    
  </basicHttpBinding>

</bindings>
