<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="linkme.framework">
      <section name="util" type="LinkMe.Environment.CommandLines.SectionHandler, LinkMe.Environment, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"/>
    </sectionGroup>
  </configSections>
  <linkme.framework>
    <util>
      <options>
        <i required="true" value="true" multiple="false">
          <description>The full path to the assembly</description>
          <valuenames>
            <valuename>assembly path</valuename>
          </valuenames>
        </i>
        <n required="true" value="true" multiple="false">
          <description>The full name of the assembly</description>
          <valuenames>
            <valuename>assembly name</valuename>
          </valuenames>
        </n>
        <f required="true" value="true" multiple="false">
          <description>The full path to the folder containing the assemblies</description>
          <valuenames>
            <valuename>folder path</valuename>
          </valuenames>
        </f>
        <if required="false" value="true" multiple="false">
          <description>The install folder to set</description>
          <valuenames>
            <valuename>folder</valuename>
          </valuenames>
        </if>
        <ru required="true" value="true" multiple="false">
          <description>The url of the report server</description>
          <valuenames>
            <valuename>url</valuename>
          </valuenames>
        </ru>
        <rf required="true" value="true" multiple="false">
          <description>The full path name of the folder</description>
          <valuenames>
            <valuename>folder path</valuename>
          </valuenames>
        </rf>
        <rds required="false" value="true" multiple="true">
          <description>The full path of any data sources</description>
          <valuenames>
            <valuename>data source path</valuename>
          </valuenames>
        </rds>
        <rd required="true" value="true" multiple="false">
          <description>The full path of the report definition file</description>
          <valuenames>
            <valuename>file path</valuename>
          </valuenames>
        </rd>
      </options>
      <commands>
        <createreportfolder class="LinkMe.Environment.Util.Commands.CreateReportFolderCommand">
          <description>Creates a report folder in the report server</description>
          <options>
            <ru/>
            <rf/>
          </options>
        </createreportfolder>
        <createallreports class="LinkMe.Environment.Util.Commands.CreateAllReportsCommand">
          <description>Iterates through the folder and creates all reports in the report server</description>
          <options>
            <ru/>
            <rf/>
            <rds/>
          </options>
        </createallreports>
        <createreport class="LinkMe.Environment.Util.Commands.CreateReportCommand">
          <description>Creates a report in the report server</description>
          <options>
            <ru/>
            <rf/>
            <rd/>
            <rds/>
          </options>
        </createreport>
        <gac class="LinkMe.Environment.Util.Commands.GacCommand">
          <description>Installs the assembly into the GAC</description>
          <options>
            <i/>
          </options>
        </gac>
        <ungac class="LinkMe.Environment.Util.Commands.UngacCommand">
          <description>Uninstalls the assembly from the GAC</description>
          <options>
            <i/>
          </options>
        </ungac>
        <ungacn class="LinkMe.Environment.Util.Commands.UngacNameCommand">
          <description>Uninstalls assemblies with the given name from the GAC</description>
          <options>
            <n/>
          </options>
        </ungacn>
        <gacall class="LinkMe.Environment.Util.Commands.GacAllCommand">
          <description>Installs all assemblies in the folder into the GAC</description>
          <options>
            <f/>
          </options>
        </gacall>
        <reg class="LinkMe.Environment.Util.Commands.RegCommand">
          <description>Registers all COM servers in the assembly</description>
          <options>
            <i/>
          </options>
        </reg>
        <regall class="LinkMe.Environment.Util.Commands.RegAllCommand">
          <description>Registers all COM servers in all assemblies in the folder</description>
          <options>
            <f/>
          </options>
        </regall>
        <setup class="LinkMe.Environment.Util.Commands.SetupCommand">
          <description>Sets up the current folder as the framework install folder</description>
          <options/>
        </setup>
        <setdevinstallfolder class="LinkMe.Environment.Util.Commands.SetDevInstallFolderCommand">
          <description>Set the install folder in the registry and mark the installation for a development environment</description>
          <options>
            <if/>
          </options>
        </setdevinstallfolder>
        <setprodinstallfolder class="LinkMe.Environment.Util.Commands.SetProdInstallFolderCommand">
          <description>Set the install folder in the registry and mark the installation for a production environment</description>
          <options>
            <if/>
          </options>
        </setprodinstallfolder>
      </commands>
    </util>
  </linkme.framework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
