<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />

    <section name="linkme.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.resources.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.instrumentation.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.framework.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.domain.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.domain.roles.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.domain.users.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.query.search.engine.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="linkme.this.container" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <configProtectedData>
    <providers>
      <add name="FileConfigurationProvider" type="LinkMe.Utility.Configuration.FileConfigurationProvider, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"/>
    </providers>
  </configProtectedData>

  <runtime>
    <gcServer enabled="true" />
  </runtime>

  <appSettings>
    <add key="application.property.path" value="c:\LinkMe\config\"/>
  </appSettings>

  <MsmqTransportConfig
    InputQueue="linkme.search.member.bus"
    ErrorQueue="linkme.error.bus"
    NumberOfWorkerThreads="1"
    MaxRetries="5"/>

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="LinkMe.Domain.Messages" Endpoint="linkme.domain.bus"/>
      <add Messages="LinkMe.Domain.Roles.Messages" Endpoint="linkme.domain.bus"/>
      <add Messages="LinkMe.Domain.Users.Messages" Endpoint="linkme.domain.bus"/>
      <add Messages="LinkMe.Apps.Agents.Messages" Endpoint="linkme.domain.bus"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <linkme.container>
    <containers>
      <container>
        <extensionConfig>

          <add name="include" type="LinkMe.Framework.Utility.Unity.IncludeConfigurationExtension, LinkMe.Framework.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <section name="linkme.resources.container" />
            <section name="linkme.instrumentation.container" />
            <section name="linkme.framework.container" />
            <section name="linkme.domain.container" />
            <section name="linkme.domain.roles.container" />
            <section name="linkme.domain.users.container" />
            <section name="linkme.query.search.engine.container" />
            <section name="linkme.this.container" />
          </add>

          <add name="applicationContext" type="LinkMe.Utility.Container.ApplicationContextConfigurationExtension, LinkMe.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />

        </extensionConfig>
      </container>
    </containers>
  </linkme.container>

  <linkme.this.container>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </typeAliases>

    <containers>

      <container>
        <types>

          <!-- Source -->
          <type type="LinkMe.Framework.Host.Wcf.WcfTcpHost, LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
            <typeConfig>
              <property name="ServiceDefinitions" propertyType="LinkMe.Framework.Host.Wcf.ServiceDefinition[], LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
                <array>
                  <dependency name="linkme.search.members.serviceDefinition" />
                </array>
              </property>
            </typeConfig>
          </type>

          <!-- Service Definitions  -->

          <type type="LinkMe.Framework.Host.Wcf.ServiceDefinition, LinkMe.Framework.Host.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
              name="linkme.search.members.serviceDefinition">
            <typeConfig>
              <property name="Service" propertyType="System.Object">
                <dependency type="LinkMe.Query.Members.IMemberSearchService, LinkMe.Query, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6" />
              </property>
              <property name="Address" propertyType="System.String">
                <dependency name="linkme.search.members.tcpAddress" />
              </property>
              <property name="BindingName" propertyType="System.String">
                <value value="linkme.search.members.tcp" />
              </property>
            </typeConfig>
          </type>

          <type type="LinkMe.Query.Members.IMemberSearchService, LinkMe.Query, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"
                mapTo="LinkMe.Query.Search.Engine.Members.SearchService, LinkMe.Query.Search.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
          </type>
        </types>

      </container>

      <!--<container name="env:prod">
        <types>
          <type type="LinkMe.Query.Search.Engine.Members.SearchService, LinkMe.Query.Search.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
            <typeConfig>
              <property name="IsLoadBalanced" propertyType="System.Boolean">
                <value value="true" type="System.Boolean" />
              </property>
            </typeConfig>
          </type>
        </types>
      </container>-->

      <container name="host:newapp4">
        <types>
          <type type="LinkMe.Query.Search.Engine.Members.SearchService, LinkMe.Query.Search.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6">
            <lifetime type="singleton" />
            <typeConfig>
              <!--<property name="IsLoadBalanced" propertyType="System.Boolean">
                <value value="true" type="System.Boolean" />
              </property>-->
              <property name="IncludeNotLooking" propertyType="System.Boolean">
                <value value="true" type="System.Boolean" />
              </property>
            </typeConfig>
          </type>
        </types>
      </container>

    </containers>

  </linkme.this.container>

  <linkme.resources.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.resources.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.resources.container>

  <linkme.instrumentation.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.instrumentation.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.instrumentation.container>

  <linkme.framework.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.framework.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.framework.container>

  <linkme.domain.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.domain.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.domain.container>

  <linkme.domain.roles.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.domain.roles.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.domain.roles.container>

  <linkme.domain.users.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.domain.users.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.domain.users.container>

  <linkme.query.search.engine.container configProtectionProvider="FileConfigurationProvider">
    <EncryptedData>
      <file name="linkme.query.search.engine.container.config" configFolder="true" />
    </EncryptedData>
  </linkme.query.search.engine.container>

  <system.serviceModel>

    <bindings configProtectionProvider="FileConfigurationProvider">
      <EncryptedData>
        <file name="system.serviceModel.bindings.config" configFolder="true" />
      </EncryptedData>
    </bindings>

    <diagnostics wmiProviderEnabled="true" />

  </system.serviceModel>

  <system.diagnostics>

    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="C:\LinkMe\log\MemberSearch.svclog" />
    </sharedListeners>

  </system.diagnostics>

</configuration>