.custom_js_validation
{
	display:none;
}

.progressBar {
	margin:5px;
}

.uploadStatus {
	color:#AAAAAA;
	margin:5px;
}
.progressBar .border {
	background:transparent url(/images/progress-remainder.gif) repeat-x scroll 0%;
	border-left:1px solid grey;
	border-right:1px solid grey;
	width:100%;
}

.progressBar .backgroundPB {
	background:transparent url(/images/progress-bar.gif) repeat-x scroll 0%;
	height:18px;
	width:0%;
}

div#main div#content {
	width: 684px;
}

td {
	font-size: 12px;
}

.validation-advice {
    color: Red;
}

.transparent80 {
    filter:alpha(opacity=80);
    -moz-opacity: 0.8; 
    opacity: 0.8; 
    background-color:white;
    position:relative;
    float: left;
}

.transparent70 {
    filter:alpha(opacity=70);
    -moz-opacity: 0.7; 
    opacity: 0.7; 
    background-color:white;
    position:relative;
    float: left;
}

.transparent50 {
    filter:alpha(opacity=50);
    -moz-opacity: 0.5; 
    opacity: 0.5; 
    background-color:white;
    position:relative;
    float: left;
}

.highLightStart {
    background: #FFFFFF url(../image.gif) ;
}

.highLightEnd {
    background: #FFFFCC;
}

.highLightRestore {
    background: #FFFFCC;
}  



.empty_resume-section-view .section-content,
.records_no_content .section-content {
    font-style:italic;
    color: Gray;
}
.empty_resume-section-view h2 {
	font-style:normal;
}

.resume_error {
	color: red;
}

.error {
	color: red;
} 

.historyItem {
    margin-top: 10px;
}

.titleCaption {
    font-weight: bold;
    font-size: 12px;
}

.floatingControls {
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

.record_id, .record_template, .record_template, .records_editor, .other_resume_control {
	display: none;
}

.resume_section textarea {
	font-size: 12px;
}

.browsecluster {height:20px;top:0;left:0;position:absolute;}
#topcluser {elevation:above}
#bottomcluster {elevation:below}
.browsefield {width:300px;color:black;border:thin solid #006699;background:white}
.browsebutton {color:white;background: #006699;border:black;}


