.resume-section-view {
	zoom: 1;
}

.displaying_resume-section-view,
.displaying_record-view {
}

.editing_resume-section-view,
.editing_record-view {
}

/* Trigger hasLayout on every block affected by IE reflow bugs */
.resume,
#top_details,
.resume_section,
.resume_section .resume-section-view,
.resume_section .section-content,
.resume_section .section-title,
.record,
.record .record-view,
.record .section-content,
.record .section-title,
.resume .header,
.bg_l, .bg_r, .bg_tl, .bg_bl, .bg_tr, .bg_br {
	*position: relative;
	*zoom: 1;	/* Fixed section-titles in IE6 and record .corner_inline_action-lists */
}

.resume {
	color: #333;
	background: #6B95AA;
	font-family: verdana, arial, helvetica, sans-serif;
	position: relative;	/* AP anchor */
}
.read-only_resume {}
.editable_resume {}

	.resume_ribbon {
		*zoom: 1;
		position: relative;
		top: -10px;
		float: right;
		margin-right: 20px;
		margin-bottom: -10px;
		border: 1px solid #5B859A;
		border-bottom: 1px solid #4B758A;
		background: none;		
	}
	
	* html .resume_ribbon {
		margin-right: 10px;	/* Compensate for IE6 margin-doubling bug. */
	}
	
		.resume_ribbon_inner {
			border: 1px solid #FFF;
			background: url(../images/resume/ribbon_bg.png) top left no-repeat;
		}
		
		* html .resume_ribbon_inner {
			width: 13em;
			background: none;
			filter: expression(LinkMeUI.IE6Alpha("/ui/images/resume/ribbon_bg.png"));
		}
		
		* html .resume_ribbon_inner a {
			z-index: 1;
			position: relative;
		}
		
		.resume_ribbon .horizontal_action-list .add-folder-action,
		.resume_ribbon .horizontal_action-list .move-to-folder-action {
			position: relative;
			top: -3px;
			padding-bottom: 0;
			margin-bottom: -3px;
		}
			.resume_ribbon .action-list .add-folder-action select,
			.resume_ribbon .action-list .move-to-folder-action select {
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 100%;
			}
			
	.resume label {
		font-weight: normal;	/* Override for forms.css */
		margin-left: 0px;		/* Override for forms.css */
	}

	/*.ribbon {
		border-top: none;
		border-right: none;
		border-bottom: 1px solid white;
	}*/
	
	.resume .infobar {
		background: url(../images/resume/metadata-bar_bg.png) left bottom repeat-x;
		padding: 7px;
		color: #FFF;
		font-size: 85%;
	}
	
	.resume .metadata {
		color: #FFF;
		font-size: 85%;
		padding: 15px 20px;
	}
		.resume .metadata ul {
			margin:0;
			margin-left: 14px;
			*margin-left: 15px;
		}
			.resume .metadata ul li {
				margin:0;
				margin-bottom: 4px;
			}
			
	.resume .metadata a,
	.resume .metadata a:visited,
	.resume .resume-notes-container .notes_action-list a,
	.resume .resume-notes-container .notes_action-list a:visited {
		color: #CFF;
	}
	.resume .metadata a:hover,
	.resume .resume-notes-container .notes_action-list a:hover {
		color: #FFD;
	}

	.resume .cover-letter {}
	
	.resume .bg_l { background: white url(../images/resume/resume_bg-l.png) top left repeat-y; position: relative; clear: both; }
	.resume .bg_r { background: url(../images/resume/resume_bg-r.png) top right repeat-y; position: relative; }
	.resume .bg_tl { background: url(../images/resume/resume_bg-tl.png) top left no-repeat; position: relative; }
	.resume .bg_bl { background: url(../images/resume/resume_bg-bl.png) bottom left no-repeat; position: relative; }
	.resume .bg_tr { background: url(../images/resume/resume_bg-tr.png) top right no-repeat; position: relative; }
	.resume .bg_br { background: url(../images/resume/resume_bg-br.png) bottom right no-repeat; position: relative; 
		padding: 40px;
		padding-bottom: 53px;
	}

/*	==============
	
	Resume section

	==============
*/

	.resume_section {
		margin-top: 30px;
		position: relative;	/* To guarantee all resume_sections are anchors for AP elements (like .corner_inline_action-list) */
	}

	.resume_section .section-title {
		padding: 4px 6px 3px 6px;
		position: relative;	/* make anchor for AP */
		border: none;
		border-bottom: 1px solid #B8C1CB;
		background: url(../images/resume/resume_section_displaying_bg.png) bottom left repeat-x;
		margin: 0;
	}
	
	    .resume_section .section-title ul.corner_inline_action-list {
	        top: 1px;
	    }
	
	.empty_record-view {
		display: none;	/* Not in use and causes layout problems */
	}

	.resume_section .section-title h2 {
		font-size: 17px;
		color: #214263;
	}
	
	.resume_section .editing_resume-section-view .section-title .action-list a {
		color: #FFF;
	}

	.resume_section .section-content {
		padding: 5px;
		border: 1px solid #DAE2EB;
		border-top: none;
	}
	
	.resume_section .editing_resume-section-view .section-title {
		background: url(../images/resume/resume_section_editing_bg.png) top left repeat-x;
		border: none;
		border-bottom: 1px solid #81A9CA;
	}
	
		.resume_section .editing_resume-section-view .section-title h2 {
			color: #FFF;
		}

	.resume_section .editing_resume-section-view .section-content {
		border: 2px solid #8AAFCE;
		border-top: none;
		padding: 4px;
		padding-top: 5px;
	}
	
	.resume_section .editing_resume-section-view .button_action-list {	/* Save, Cancel */
		margin-left: 2px;
		margin-top: 10px;
	}
	
	.record .section-content {
		padding: 12px 15px 17px 15px;
		position: relative;
	}
	
	.odd_record .section-content {
		background: #FAFAFA;
	}

	.record .editing_record-view .section-content {
		border: 2px solid #8AAFCE;
		padding: 11px 14px 16px 14px;
		margin-top: -1px;
	}
	
	/*	_____________________________

		Resume-specific forms styling
		_____________________________
	*/
		.resume_section .compulsory-legend {
			position: absolute;
			left: 50%;
			bottom: 4px;
			background: transparent url(../images/universal/compulsory-star.png) no-repeat scroll right top;
			font-size: 85%;
			padding-right: 8px;
		}
		
		.resume_section .section-content .compulsory-legend {
			bottom: 8px;
		}
	
		.resume_section .editing_resume-section-view .textbox,
		.resume_section .editing_resume-section-view .dropdown,
		.resume_section .editing_resume-section-view .listbox {
			border: 1px solid #CDE;
		}
		.header .resume_section .editing_resume-section-view .textbox,
		.header .resume_section .editing_resume-section-view .dropdown,
		.header .resume_section .editing_resume-section-view .listbox {
			border: 1px solid #ABC;
		}
		.resume_section .empty-textbox-overlay {
			color: #999;
			font-style: oblique;
			position: absolute;
			top: 1px;
			left: 1px;
			border: none;
		}
		
		.resume_section .multiline_textbox {
			width: 594px;					/* Width is precomputed because IE6 interprets 100% badly */
			font-size: 11.5px !important;
			*font-size: 12px !important;
			*line-height: 14px !important;
		}
		
		/*	------------------------
			mmm-yyyy / current field
			------------------------

			Used to specify a date, to the month. Allows the value "current", meaning "now".
		*/
		
		.mmm-yyyy-current_field {}
			.mmm-yyyy-current_control {}
				.mmm-yyyy-current_control .mmm_dropdown {
					width: 5em;
				}
				.mmm-yyyy-current_control .yyyy_dropdown {
					width: 5em;
				}
				.mmm-yyyy-current_control .checkbox {
					display: block;
				}
		
	/*	______________________________

		Section-specific forms styling
		______________________________
	*/
		/*	-----------------------------------------
			Sections with no specific additions (yet)
			-----------------------------------------
		*/
			.employment-history_resume_section {}
			.education_resume_section {}
			.plaintext_resume_section {}
			
		/*	----------------------
			Primary Resume Details
			----------------------
		*/
		.primary-resume-details_resume_section {}
		
		.primary-resume-details_resume_section .phone_textbox_field {
			float: left;
			padding-right: 10px;
		}
		* html .primary-resume-details_resume_section .phone_textbox_field {	/* IE6 hand-holding */
		    width: 7em;
		}
		
		/*	----------------------
			Primary Resume Details
			----------------------
		*/
		
		.desired-job_resume_section {}
		
		/* salaryrange moved to forms_v2 */
		
		
		/*	------------------
			Employment Summary
			------------------
		*/
			.employment-summary_resume_section {}
			
				.employment-summary_resume_section .section-content:after,
				.employment-summary_resume_section .employment-entry:after,
				.employment-summary_resume_section .employment-description:after {	/* Self-clearing */
					content: ".";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
				.employment-summary_resume_section .section-content,
				.employment-summary_resume_section .employment-entry,
				.employment-summary_resume_section .employment-description {	/* Self-clearing for IE6,7 */
					*zoom: 1;
				}
			
				.employment-summary_resume_section .employment-entry {
				}
					.employment-summary_resume_section .employment-daterange {
						font-size: 85%;
						width: 25%;
						float: left;
						padding-top: 0.4em;
						padding-left: 4px;
						padding-bottom: 0.4em;
						margin-bottom: 6px;
					}
					.employment-summary_resume_section .employment-description {
						float: left;
						width: 73%;
						padding: 3px;
						padding-bottom: 6px;
					}					
					
						.employment-summary_resume_section .employment-jobtitle {
							font-size: 120%;
							font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
							margin-bottom: -1px;
						}
						.employment-summary_resume_section .employment-employer {
							font-size: 85%;
							color: #777;
						}
		
		/*	----------------
			Education record
			----------------
		*/
		
		.education_record {}
			.education_record fieldset {
				position: relative;			/* preserve section-content padding when absolute-aligning */
			}
		
			.education_record .forms_v2 .field {
				padding-top: 0;
			}		
		
			.education_record .forms_v2 .qualification_field {
				padding-left: 20px;
			}
			
			.education_record .qualification_field {
				position: relative;
				left: 140px;
				width: 305px;
				/*background: url(../images/resume/icons/education.png) left 0.35em no-repeat;*/
				padding-top: 0;
			}
				.education_record .qualification_field label {
					display: none;
				}
				.education_record .qualification_field .textbox {
					font-family: Tahoma;
					font-size: 130%;
					width: 305px;
				}
				.education_record .qualification_field .empty-textbox-overlay {
					top: 0.2em;
				}
				
			.education_record .forms_v2 .major_field {
				position: relative;
				left: 160px;
				width: 305px;
				padding-bottom: 10px;
				padding-top: 1px !important;
			}
			
				.education_record .major_field label {
					display: none;
				}
				.education_record .major_field .textbox {
					font-size: 85%;
					width: 305px;
				}
			
			.education_record .forms_v2 .institution_field {
				float: left;
				padding-left: 160px;
				width: 216px;
				margin-right: 4px;
				padding-bottom: 0px;
				padding-top: 1px !important;
			}			
			.education_record .displaying_record-view .forms_v2 .institution_field {
				width: auto;
				margin-right: 0;
			}
			
				.education_record .institution_field label {
					display: none;
				}
				.education_record .institution_field .control {
					float: left;	/* Force IE (at least IE6) to shrinkwrap */
				}
				.education_record .institution_field .textbox {
					font-size: 85%;
					width: 216px;
				}
				.education_record .displaying_record-view .institution_field .textbox {
					width: auto;
					float: left;	/* Force IE (at least IE6) to shrinkwrap */
					color: #777;
				}
				
			.education_record .forms_v2 .city_field {
				float: left;
				width: 190px;
				padding-bottom: 0px;
				padding-top: 1px !important;
			}
			
				.education_record .city_field label {
					display: none;
				}
				.education_record .city_field .textbox {
					font-size: 85%;
					width: 190px;
				}
				.education_record .displaying_record-view .city_field .textbox {
					color: #777;
				}
							
			
			.education_record .completeddate_field {
				position: absolute;
				top: 3px; left: 0;
				width: 130px;
			}
				.education_record .completeddate_field label {
					/*display: none;*/
					font-weight: normal;
				}
				.education_record .completeddate_field .textbox {
					width: 50px; font-size: 85%;
					white-space: nowrap;
				}				
				.education_record .displaying_record-view .completeddate_field label {
					float: left;
				}
				.education_record .displaying_record-view .completeddate_field .control {
					float: left;
					margin-top: -0.25em;
					margin-left: 3px;
				}
				.education_record .editing_record-view .completeddate_field .textbox {
					width: 130px;
				}
				
			.education_record .forms_v2 .description_field {
				position: relative;
				left: 160px;
				width:415px;
				padding-top: 12px;
				clear: left;
			}
				.education_record .description_field label {
					display: none;
				}
				.education_record .description_field .textbox {
					width: 415px;
					font-size: 11px !important;
				}


		/*	-----------------
			Employment record
			-----------------
		*/
			.employment_record {}
				.employment_record fieldset {
					position: relative;			/* preserve section-content padding when absolute-aligning */
				}
			
				.employment_record .forms_v2 .field {
					padding-top: 0;
				}		
			
				.employment_record .forms_v2 .jobtitle_field {
					padding-left: 20px;
				}
				
				.employment_record .jobtitle_field {
					position: relative;
					left: 140px;
					width: 305px;
					/*background: url(../images/resume/icons/job.png) left 0.35em no-repeat;*/
					padding-top: 0;
				}
					.employment_record .jobtitle_field label {
						display: none;
					}
					.employment_record .jobtitle_field .textbox {
						font-family: Tahoma;
						font-size: 130%;
						width: 305px;
					}
					.employment_record .jobtitle_field .empty-textbox-overlay {
						top: 0.2em;
					}
					
				.employment_record .forms_v2 .companyname_field {
					position: relative;
					left: 160px;
					width: 305px;
					padding-bottom: 0px;
					padding-top: 1px !important;
				}
				
					.employment_record .companyname_field label {
						display: none;
					}
					.employment_record .companyname_field .textbox {
						font-size: 85%;
						width: 305px;
					}
					.employment_record .displaying_record-view .companyname_field .textbox {
						color: #777;
					}
					
				
				
				.employment_record .timeframe_field {
					position: absolute;
					top: 3px; left: 0;
					width: 130px;
				}
					.employment_record .timeframe_field label {
						display: none;
					}
					.employment_record .timeframe_field .control {
						font-size: 85%;
					}

				.employment_record .editing_record-view .startdate_field {
					position: absolute;
					left: 0;
					top: 0;
				}
				.employment_record .editing_record-view .enddate_field {
					position: absolute;
					left: 0;
					top: 2.5em;
				}

				.employment_record .mmm-yyyy-current_field {}
					.employment_record .displaying_record-view .mmm-yyyy-current_field label {
						display: none;
					}
					.employment_record .mmm-yyyy-current_field .control label {
						display: inline;
					}
					.employment_record .mmm-yyyy-current_field .control .dropdown {
						font-size: 85%;
					}
					.employment_record .mmm-yyyy-current_field .control .checkbox {
						font-size: 89.4%;	/* 89.4% x 95% = 85% */
						margin-top: 4px;
					}
				.employment_record .forms_v2 .description_field {
					position: relative;
					left: 160px;
					width:415px;
					padding-top: 12px;
				}
					.employment_record .description_field label {
						display: none;
					}
					.employment_record .description_field .textbox {
						width: 415px;
						font-size: 11px !important;
					}

				.employment_record .forms_v2 .totalhours_field {
					position: relative;
					left: 0px;
					width:100px;
					padding-top: 12px;
				}
					.employment_record .totalhours_field .textbox {
						width: 100px;
						font-size: 11px !important;
					}
					
				.employment_record .totalhours-duration_field {
					position: absolute;
					top: 20px; left: 0;
					width: 100px;
				}
					.employment_record .totalhours-duration_field label {
						display: none;
					}
					.employment_record .totalhours-duration_field .control {
						font-size: 85%;
					}

		
/*	=============
	
	Resume header

	=============
*/
	
	.resume .header {
		background-color: #E1E4E9;
		position: relative;	/* anchor point for AP */
	}
		.resume .header .bg_l { background: url(../images/resume/resume-header_bg-l.png) top left repeat-y; position: relative; }
		.resume .header .bg_r { background: url(../images/resume/resume-header_bg-r.png) top right repeat-y; position: relative; }
		.resume .header .bg_tl { background: url(../images/resume/resume-header_bg-tl.png) top left no-repeat; position: relative; }
		.resume .header .bg_bl { background: url(../images/resume/resume-header_bg-bl.png) bottom left no-repeat; position: relative; }
		.resume .header .bg_tr { background: url(../images/resume/resume-header_bg-tr.png) top right no-repeat; position: relative; }
		.resume .header .bg_br { background: url(../images/resume/resume-header_bg-br.png) bottom right no-repeat; position: relative; 
			padding: 20px;
			min-height: 164px;  /* Min-height should be enough for the photo at least. */
			_height: 164px;
		}
		
		.resume .header .name-title {
			font-weight: normal;
			font-size: 200%;
			color: #336699;
			font-family: Arial, Helvetica, sans-serif;
			margin: 0; padding: 0;
			float: left;
			margin-top: -0.15em;
			padding-bottom: 10px;
		}
		
		.resume .header .viewed {
			font-size: 85%;
			color: #707274;
			padding-left: 0.75em;
			padding-top: 0.75em;
			float: left;
		}
		
		.editable_resume .header #top_details .primary-resume-details_resume_section .resume-section-view {
			border: 1px solid #D1D4D9;
			width: 410px;
			position: relative;	/* Provides AP anchor. */
		}
			.editable_resume .header #top_details .primary-resume-details_resume_section .resume-section-view .section-content {
				border: 1px solid #F1F4F9;
				padding: 6px;
			}
			.editable_resume .header #top_details .primary-resume-details_resume_section .editing_resume-section-view {
				border: 1px solid #8AAFCE;
			}
			.editable_resume .header #top_details .primary-resume-details_resume_section .editing_resume-section-view .section-content {
				border: 1px solid #FFF;
			}
		
		.read-only_resume .header #top_details {
			float: left;
			clear: left;
			width: 550px;
		}
		.read-only_resume .with-photo_header #top_details {
			float: left;
			clear: left;
			width: 450px;
		}
		
			.read-only_resume .header #top_details .primary-resume-details_resume_section {
				width: 250px;
				float: right;
			}
			
			.read-only_resume .header #top_details .desired-job_resume_section {
				width: 250px;
				float: left;
			}
			
			.read-only_resume .with-photo_header #top_details .primary-resume-details_resume_section {
				width: 210px;
				float: right;
			}
			
			.read-only_resume .with-photo_header #top_details .desired-job_resume_section {
				width: 210px;
				float: left;
			}
		
		.resume .header #resume_photo_and_actions {
			position: absolute;
			top: 20px;
			right: 20px;
		}
		
		.resume .header ul.corner_inline_action-list {
			top: 1px;
			right: 6px;
		}

		.resume .header .resume_section {
			margin-top: 0;
		}
			
		.resume .header .compulsory_field label,
		.resume .header .compulsory-legend {
			background-image: url(../images/resume/compulsory-star_on-header.png);
		}
		
		.resume .header .section-content {
			border: none;
			margin: 0; padding: 0;
		}

/*	===========================
	
	Resume section action icons

	===========================
*/

.resume_section .action-list .add-action    { background: url(../images/resume/icons/add.png)          left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.resume_section .action-list .edit-action   { background: url(../images/resume/icons/edit.png)         left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.resume_section .action-list .save-action   { background: url(../images/resume/icons/save.png)         left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.resume_section .action-list .delete-action { background: url(../images/resume/icons/delete.png)       left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.resume_section .action-list .cancel-action { background: url(../images/resume/icons/cancel.png)       left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.resume_section .editing_resume-section-view .section-title .action-list a.save-action   { background-image: url(../images/resume/icons/save_on-blue.png);   }
.resume_section .editing_resume-section-view .section-title .action-list a.cancel-action { background-image: url(../images/resume/icons/cancel_on-blue.png); }


/*	====================
	
	General action icons

	====================
*/

.action-list .print-resume-action     { background: url(../images/resume/icons/print-resume.png)       left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.action-list .email-resume-action     { background: url(../images/resume/icons/email-resume-to-me.png) left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.action-list .view-resume-action      { background: url(../images/resume/icons/preview-resume.png)     left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.action-list .download-resume-action  { background: url(../images/resume/icons/download-resume.png)    left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.action-list .preview-resume-action   { background: url(../images/resume/icons/preview-resume.png)     left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.action-list .upload-resume-action    { background: url(../images/resume/icons/upload-resume.png)      left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.action-list .set-visibility-action   { background: url(../images/resume/icons/set-visibility.png)     left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }
.action-list .more-like-this-action   { background: url(../images/resume/icons/more-like-this.png)     left center no-repeat; padding: 1px 0 2px 17px; display: inline-block; min-height: 13px; *display: inline; *zoom: 1; }	/* currently disused */

#resume-percentage-holder {
	border-right: #cccccc 1px solid;
	padding-right: 1px;
	border-top: #cccccc 1px solid;
	margin-top: 0.1em;
	padding-left: 1px;
	background: #ffffff;
	margin-bottom: 0.5em;
	padding-bottom: 1px;
	border-left: #cccccc 1px solid;
	width: 220px;
	padding-top: 1px;
	border-bottom: #cccccc 1px solid;
	height: 18px
}
#resume-percentage-table {
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	margin-bottom: 1em;
	width: 96%;
	border-collapse: collapse;
	border-right-width: 0px
}
#resume-percentage-table td {
	padding-left: 1em;
	padding-bottom: 0.5em
}
#resume-percentage-table .disabled-resume-edit-link {
	color: black;
	text-decoration: none
}
#resume-percentage-bar {
	background: url(../images/resume/status-bar-bg.png) repeat-x;
	width: 80%;
	height: 100%
}
dl.jobRole {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 3px 0px;
	padding-top: 0px
}
dl.jobRole dt {
	padding-right: 0px;
	padding-left: 0px;
	float: left;
	padding-bottom: 0px;
	margin: 0px 3px 3px 0px;
	width: 110px;
	padding-top: 0px
}
dl.jobRole dd {
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 3px;
	padding-bottom: 0px;
	padding-top: 0px
}
.date-select {
	width: 68px
}
#content {
	width: 684px
}
a:visited {
	color: #1155EE
}
.other_resume_control h2 a {
	font-weight: normal;
	font-size: 12px
}
a:hover {
	color: #ff6600
}
.clearer {
	clear: both
}

#error_summary {
	border-right: #000080 1px solid;
	padding-right: 5px;
	border-top: #000080 1px solid;
	display: none;
	padding-left: 5px;
	background: #def;
	padding-bottom: 5px;
	border-left: #000080 1px solid;
	padding-top: 5px;
	border-bottom: #000080 1px solid
}

#resume_actions {
	float: right
}

.body-property {
	margin-bottom: 6px;
	margin-left: 0px;
	width: 140px
}
.body-property-float {
	float: left;
	margin-bottom: 6px;
	margin-left: 0px;
	width: 140px;
	margin-right: 15px
}
.property-heading {
	margin-top: 7px;
	font-weight: bold;
	font-size: 11px;
	color: #333;
	font-family: verdana
}
.property-heading-required {
	padding-right: 8px;
	margin-top: 7px;
	font-weight: bold;
	font-size: 11px;
	background: url(../images/universal/compulsory-star.png) no-repeat right 50%;
	color: #333;
	font-family: verdana
}
.property-details {
	font-size: 11px;
	color: #666666;
	font-family: verdana
}
.property-hide-if-empty {
	
}
.header-edit-details {
	
}


.body-property .text-box {
	width: 130px
}
#resume-body {
	
}
.resume-body-ad {
	padding-left: 4px;
	font-weight: normal;
	font-size: 12px
}
.employment-summary {
	padding-left: 20px
}
.resume-description label {
	margin-left: 4px
}
.control_buttons {
	margin-top: 7px
}
.hr_div {
	border-top: #ddd 1px solid;
	background: none transparent scroll repeat 0% 0%;
	margin-left: 0px;
	width: 670px;
	margin-right: auto;
	border-right-style: none;
	border-left-style: none;
	text-align: left;
	border-bottom-style: none
}
.resume-body-edit .edit-link {
	font-style: normal;
}
.resume-body-edit {
	position: relative;
	width: 669px;
	margin-bottom: -1.2em;
	text-align: right;
}
.resume-body-action {
	float: right;
	margin-right: 14px;
	text-align: right
}
.resume-body-action a {
	margin-right: 0px
}
.resume-section {
	padding-top: 5px
}
.resume-description {
	padding-right: 0px;
	padding-left: 0px;
	font-size: 12px;
	padding-bottom: 10px;
	color: #000;
	padding-top: 10px
}
.compulsory {
	padding-left: 10px;
	font-weight: bold;
	background: url(../img/compulsory_star.png) no-repeat left center;
	float: none;
	letter-spacing: 0px
}
.resume-check-boxes {
	margin: 3px;
	padding-top: 8px
}
.validation {
	color: red
}
div.auto-complete {
	background: #fff;
	width: 350px
}
div.auto-complete ul {
	border-right: #888 1px solid;
	padding-right: 0px;
	border-top: #888 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: #888 1px solid;
	width: 100%;
	padding-top: 0px;
	border-bottom: #888 1px solid;
	list-style-type: none
}
div.auto-complete ul li {
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	margin: 0px;
	padding-top: 3px
}
div.auto-complete ul li.selected {
	background-color: #ffffcc
}
div.auto-complete ul strong.highlight {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	color: #800;
	padding-top: 0px
}
.highlighted-word {
	background-color: #ffff99
}
a:link .highlighted-word, a:visited .highlighted-word {
	text-decoration: underline;
}

.resumeentrydates {
	font-weight: bold
}
.dropdown-fixed-width {
	width: 200px
}
.visibility-link {
	/*margin-top: 50px;*/ margin-bottom: 0px;
	margin-left: 18px;
}

/* MF (2009-03-10) to be gotten rid of - DO A FULL-SITE SEARCH FIRST :) */
.resume-action-margin {}