<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="linkme.framework">
      <section name="environment.util" type="LinkMe.Environment.CommandLines.SectionHandler, LinkMe.Environment, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b0227c645ed34d6"/>
    </sectionGroup>
  </configSections>

  <linkme.framework>
    <environment.util>
      <options>
        <serviceName required="true" value="true">
          <description>The name of the service.</description>
          <valuenames>
            <valuename>service name</valuename>
          </valuenames>
        </serviceName>
        <displayName required="true" value="true">
          <description>The display name of the service.</description>
          <valuenames>
            <valuename>display name</valuename>
          </valuenames>
        </displayName>
        <rootFolder required="true" value="true">
          <description>The name of a root folder.</description>
          <valuenames>
            <valuename>root folder</valuename>
          </valuenames>
        </rootFolder>
        <configurationFile required="true" value="true">
          <description>The name of the configuration file.</description>
          <valuenames>
            <valuename>configuration file</valuename>
          </valuenames>
        </configurationFile>
        <account required="false" value="true">
          <description>The name of the account under which the service will run.</description>
          <valuenames>
            <valuename>account</valuename>
          </valuenames>
        </account>
        <password required="false" value="true">
          <description>The password of the account under which the service will run.</description>
          <valuenames>
            <valuename>password</valuename>
          </valuenames>
        </password>
        <event required="false" value="true" multiple="true">
          <description>The event type.</description>
          <valuenames>
            <valuename>event</valuename>
          </valuenames>
        </event>
        <source required="false" value="true">
          <description>The event type.</description>
          <valuenames>
            <valuename>source</valuename>
          </valuenames>
        </source>
        <counterFile required="true" value="true">
          <description>The file describing the counters.</description>
          <valuenames>
            <valuename>counterFile</valuename>
          </valuenames>
        </counterFile>
      </options>
      <commands>
        <install class="LinkMe.Framework.Environment.Util.Commands.InstallServiceCommand">
          <description>Installs a service.</description>
          <options>
            <serviceName/>
            <displayName/>
            <rootFolder/>
            <configurationFile/>
            <account/>
            <password/>
          </options>
        </install>
        <uninstall class="LinkMe.Framework.Environment.Util.Commands.UninstallServiceCommand">
          <description>Uninstalls a service.</description>
          <options>
            <serviceName/>
          </options>
        </uninstall>
        <isenabled class="LinkMe.Framework.Environment.Util.Commands.IsEnabledCommand">
          <description>Indicates whether the event is enabled.</description>
          <options>
            <event/>
            <source/>
          </options>
        </isenabled>
        <enable class="LinkMe.Framework.Environment.Util.Commands.EnableCommand">
          <description>Enables the event.</description>
          <options>
            <event/>
            <source/>
          </options>
        </enable>
        <disable class="LinkMe.Framework.Environment.Util.Commands.DisableCommand">
          <description>Disables the event.</description>
          <options>
            <event/>
            <source/>
          </options>
        </disable>
        <reset class="LinkMe.Framework.Environment.Util.Commands.ResetCommand">
          <description>Resets the source.</description>
          <options>
            <source/>
          </options>
        </reset>
        <createcounters class="LinkMe.Framework.Environment.Util.Commands.CreateCountersCommand">
          <description>Creates a set of performance counters.</description>
          <options>
            <counterFile/>
          </options>
        </createcounters>
      </commands>
    </environment.util>
  </linkme.framework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
